XSD/AW317.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iwlz="http://www.istandaarden.nl/iwlz/2_2/basisschema/schema" xmlns:aw317="http://www.istandaarden.nl/iwlz/2_2/aw317/schema" targetNamespace="http://www.istandaarden.nl/iwlz/2_2/aw317/schema" elementFormDefault="qualified">
	<xs:import namespace="http://www.istandaarden.nl/iwlz/2_2/basisschema/schema" schemaLocation="basisschema.xsd"></xs:import>
	<xs:annotation>
		<xs:appinfo>
			<iwlz:standaard>iwlz</iwlz:standaard>
			<iwlz:bericht>aw317</iwlz:bericht>
			<iwlz:release>2.2</iwlz:release>
			<iwlz:BerichtXsdVersie>0.1.0</iwlz:BerichtXsdVersie>
			<iwlz:BerichtXsdMinVersie>0.1.0</iwlz:BerichtXsdMinVersie>
			<iwlz:BerichtXsdMaxVersie>0.1.0</iwlz:BerichtXsdMaxVersie>
			<iwlz:BasisschemaXsdVersie>0.1.0</iwlz:BasisschemaXsdVersie>
			<iwlz:BasisschemaXsdMinVersie>0.1.0</iwlz:BasisschemaXsdMinVersie>
			<iwlz:BasisschemaXsdMaxVersie>0.1.0</iwlz:BasisschemaXsdMaxVersie>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="Bericht" type="aw317:Root"></xs:element>
	<xs:complexType name="Root">
		<xs:annotation>
			<xs:documentation>Bericht voor verzenden van uitvoeringsgegevens over Wlz-zorg (zorgkantoor naar Zorginstituut Nederland). Het bericht is onderdeel van de iWlz-standaard.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="aw317:Header"></xs:element>
			<xs:element name="Clienten" type="aw317:Clienten"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Header">
		<xs:annotation>
			<xs:documentation>De header bevat de identificerende gegevens van het bestand.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BerichtCode">
				<xs:annotation>
					<xs:documentation>Code ter identificatie van een soort bericht.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_BerichtCode">
						<xs:pattern value="404"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BerichtVersie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een major release van een iStandaard.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_BerichtVersie">
						<xs:pattern value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BerichtSubversie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een minor release van een iStandaard.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_BerichtSubversie">
						<xs:pattern value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Afzender" type="iwlz:LDT_ZorgkantoorCode">
				<xs:annotation>
					<xs:documentation>Identificatie van het Zorgkantoor, verantwoordelijk voor het uitvoeren van de Wlz.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Periode" type="iwlz:CDT_GeslotenPeriode">
				<xs:annotation>
					<xs:documentation>Periode waarop het aangeleverde bestand betrekking heeft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BerichtIdentificatie" type="iwlz:CDT_BerichtIdentificatie">
				<xs:annotation>
					<xs:documentation>Aanduiding ter identificatie van het bericht, bevat de datum dagtekening en een nummer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XsdVersie" type="iwlz:CDT_XsdVersie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een versie van de XSD's die zijn ingezet voor het opstellen van het heenbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Clienten">
		<xs:sequence>
			<xs:element name="Client" type="aw317:Client"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Client">
		<xs:annotation>
			<xs:documentation>Kenmerken van een client ten bate van de uitvoeringsinformatie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Bsn" type="iwlz:LDT_BurgerServicenummer">
				<xs:annotation>
					<xs:documentation>Een door de overheid toegekend identificerend nummer in het kader van het vereenvoudigen van het contact tussen overheid en burgers en het verminderen van de administratieve lasten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geslacht" type="iwlz:LDT_Geslacht">
				<xs:annotation>
					<xs:documentation>De sekse van een persoon, zoals bij geboorte formeel vastgesteld of nadien formeel gewijzigd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboortejaar" type="iwlz:LDT_Jaar">
				<xs:annotation>
					<xs:documentation>Geboortejaar van een persoon.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Postcode" type="iwlz:LDT_Postcode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanduiding van de (inter)nationale postcode. Dit veld is geschikt voor zowel de Nederlandse als niet-Nederlandse postcodes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LandCode" type="iwlz:LDT_LandCode">
				<xs:annotation>
					<xs:documentation>Identificatie van een (historisch/actueel) land of gebiedsdeel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Indicaties" type="aw317:Indicaties"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Indicaties">
		<xs:sequence>
			<xs:element name="Indicatie" type="aw317:Indicatie"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Indicatie">
		<xs:annotation>
			<xs:documentation>Gegevens over het indicatiebesluit ten bate van de uitvoeringsinformatie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VolgnummerIndicatie" type="iwlz:LDT_Nummer">
				<xs:annotation>
					<xs:documentation>Volgnummer van de indicatie binnen een Client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soort" type="iwlz:LDT_SoortIndicatie">
				<xs:annotation>
					<xs:documentation>Code voor de soort indicatie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grondslagen" type="iwlz:CDT_Grondslagen" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De verzameling van gecodeerde aanduidingen die aangeven wat ten grondslag ligt aan het indicatiebesluit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Afgiftedatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop het indicatiebesluit is afgegeven.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft vanaf welke datum het indicatiebesluit rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum die aangeeft tot en met welke datum het indicatiebesluit rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stoornissen" type="aw317:Stoornissen" minOccurs="0"></xs:element>
			<xs:element name="Beperkingen" type="aw317:Beperkingen" minOccurs="0"></xs:element>
			<xs:element name="GeindiceerdeZorgzwaartepakketten" type="aw317:GeindiceerdeZorgzwaartepakketten" minOccurs="0"></xs:element>
			<xs:element name="WachtlijstZorgzwaartepakketten" type="aw317:WachtlijstZorgzwaartepakketten" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Stoornissen">
		<xs:sequence>
			<xs:element name="Stoornis" type="aw317:Stoornis"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Stoornis">
		<xs:annotation>
			<xs:documentation>Diagnostische gegevens m.b.t. ziektebeeld / stoornis van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Grondslag" type="iwlz:LDT_Grondslag">
				<xs:annotation>
					<xs:documentation>Codering die aangeeft wat ten grondslag ligt aan de zorg.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiagnoseCodelijst" type="iwlz:LDT_DiagnoseCodelijst">
				<xs:annotation>
					<xs:documentation>Code die aangeeft welke diagnosecodelijst gebruikt is, met aanduiding van de oorsprong van de codes en/of de beheerder ervan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiagnoseSubcodelijst" type="iwlz:LDT_DiagnoseSubcodelijst" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code die aangeeft welke subcode van een diagnosecodelijst gebruikt is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZiektebeeldStoornis" type="iwlz:LDT_StoornisCode">
				<xs:annotation>
					<xs:documentation>Code die het ziektebeeld of de stoornis van een client identificeert.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beperkingen">
		<xs:sequence>
			<xs:element name="Beperking" type="aw317:Beperking"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beperking">
		<xs:annotation>
			<xs:documentation>Gegevens over beperkingen van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Categorie" type="iwlz:LDT_BeperkingCategorie">
				<xs:annotation>
					<xs:documentation>Aanduiding over de categorie van de beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeindiceerdeZorgzwaartepakketten">
		<xs:sequence>
			<xs:element name="GeindiceerdZorgzwaartepakket" type="aw317:GeindiceerdZorgzwaartepakket"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeindiceerdZorgzwaartepakket">
		<xs:annotation>
			<xs:documentation>Gegevens over een geindiceerd zorgzwaartepakket.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZzpCode" type="iwlz:LDT_ZzpCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgzwaartepakket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft vanaf welke datum de geindiceerde zorgeenheid rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft tot en met welke datum de geindiceerde zorgeenheid rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Klasse" type="iwlz:LDT_Klasse">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de mate van zorg betreffende een zorgeenheid, uitgedrukt in een klasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VoorkeurClient" type="iwlz:LDT_VoorkeurClient" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de voorkeur van de client ten aanzien van plaats en vorm van zorglevering.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Financiering" type="iwlz:LDT_Financiering">
				<xs:annotation>
					<xs:documentation>Aanduiding van de wijze waarop de zorg gefinancierd wordt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZietAfVanZorg" type="iwlz:LDT_JaNee">
				<xs:annotation>
					<xs:documentation>Aanduiding of de client heeft aangegeven dat hij de geindiceerde zorg (nog) niet wil ontvangen.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WachtlijstZorgzwaartepakketten">
		<xs:sequence>
			<xs:element name="WachtlijstZorgzwaartepakket" type="aw317:WachtlijstZorgzwaartepakket"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WachtlijstZorgzwaartepakket">
		<xs:annotation>
			<xs:documentation>Gegevens over een geleverd of te leveren zorgzwaartepakket ten bate van de uitvoeringsinformatie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZzpCode" type="iwlz:LDT_ZzpCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgzwaartepakket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soort" type="iwlz:LDT_SoortToewijzing">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de soort toewijzing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Instelling" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerende code van een instelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Toewijzingsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop het zorgkantoor de zorgtoewijzing heeft vastgesteld.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen zorgeenheid voor de eerste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Begindatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum vanaf wanneer een zorgeenheid wordt geleverd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mutatiedatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De datum waarop een mutatie in de Wlz-zorg bij client heeft plaatsgevonden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsvorm" type="iwlz:LDT_Leveringsvorm">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de vorm waarin zorg binnen de Wlz geleverd kan worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Etmalen" type="iwlz:LDT_Etmalen" minOccurs="0">
			</xs:element>
			<xs:element name="Opname" type="iwlz:LDT_JaNee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicatie of de client bij deze aanbieder opgenomen wordt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsstatussen" type="aw317:Leveringsstatussen" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Leveringsstatussen">
		<xs:sequence>
			<xs:element name="Leveringsstatus" type="aw317:Leveringsstatus"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Leveringsstatus">
		<xs:annotation>
			<xs:documentation>Tekst nader in te vullen. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IngangsdatumStatus" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>Ingangsdatum van de leveringsstatus.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsstatus" type="iwlz:LDT_Leveringsstatus">
				<xs:annotation>
					<xs:documentation>De leveringsstatus waarmee wordt aangegeven wat de status van de geleverde zorg is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeveringsstatusClassificatie" type="iwlz:LDT_LeveringsstatusClassificatie" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
