XSD/AW36.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iwlz="http://www.istandaarden.nl/iwlz/2_2/basisschema/schema" xmlns:aw36="http://www.istandaarden.nl/iwlz/2_2/aw36/schema" targetNamespace="http://www.istandaarden.nl/iwlz/2_2/aw36/schema" elementFormDefault="qualified">
	<xs:import namespace="http://www.istandaarden.nl/iwlz/2_2/basisschema/schema" schemaLocation="basisschema.xsd"></xs:import>
	<xs:annotation>
		<xs:appinfo>
			<iwlz:standaard>iwlz</iwlz:standaard>
			<iwlz:bericht>aw36</iwlz:bericht>
			<iwlz:release>2.2</iwlz:release>
			<iwlz:BerichtXsdVersie>0.1.0</iwlz:BerichtXsdVersie>
			<iwlz:BerichtXsdMinVersie>0.1.0</iwlz:BerichtXsdMinVersie>
			<iwlz:BerichtXsdMaxVersie>0.1.0</iwlz:BerichtXsdMaxVersie>
			<iwlz:BasisschemaXsdVersie>0.1.0</iwlz:BasisschemaXsdVersie>
			<iwlz:BasisschemaXsdMinVersie>0.1.0</iwlz:BasisschemaXsdMinVersie>
			<iwlz:BasisschemaXsdMaxVersie>0.1.0</iwlz:BasisschemaXsdMaxVersie>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="Bericht" type="aw36:Root"></xs:element>
	<xs:complexType name="Root">
		<xs:annotation>
			<xs:documentation>Bericht voor het melden van de aanvang van zorglevering (zorgaanbieder naar zorgkantoor).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="aw36:Header"></xs:element>
			<xs:element name="Clienten" type="aw36:Clienten" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Header">
		<xs:annotation>
			<xs:documentation>De header bevat de identificerende gegevens van het bestand.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BerichtCode">
				<xs:annotation>
					<xs:documentation>Code ter identificatie van een soort bericht.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_BerichtCode">
						<xs:pattern value="355"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BerichtVersie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een major release van een iStandaard.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_BerichtVersie">
						<xs:pattern value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BerichtSubversie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een minor release van een iStandaard.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_BerichtSubversie">
						<xs:pattern value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Afzender" type="iwlz:LDT_iWlzAgbCode">
				<xs:annotation>
					<xs:documentation>Identificerende code van een contract in het kader van de Wlz tussen een zorgkantoor en een zorginstelling</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ontvanger" type="iwlz:LDT_ZorgkantoorCode">
				<xs:annotation>
					<xs:documentation>Identificatie van het Zorgkantoor, verantwoordelijk voor het uitvoeren van de Wlz.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BerichtIdentificatie" type="iwlz:CDT_BerichtIdentificatie">
				<xs:annotation>
					<xs:documentation>Aanduiding ter identificatie van het bericht, bevat de datum dagtekening en een nummer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XsdVersie" type="iwlz:CDT_XsdVersie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een versie van de XSD's die zijn ingezet voor het opstellen van het heenbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentificatieRetour" type="iwlz:LDT_IdentificatieBericht">
				<xs:annotation>
					<xs:documentation>Naam of nummer ter identificatie van een retourbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DagtekeningRetour" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>Dagtekening van het retourbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XsltVersie" type="iwlz:LDT_Versie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een versie van de XSLT's die zijn ingezet voor de controle van het heenbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XsdVersieRetour" type="iwlz:CDT_XsdVersie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een versie van de XSD's die zijn ingezet voor het opstellen van het retourbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="aw36:RetourCodes" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetourCodes">
		<xs:sequence>
			<xs:element name="RetourCode" type="iwlz:LDT_RetourCode" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding in een retourbericht van het resultaat van de beoordeling van een (deel van het) ontvangen bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Clienten">
		<xs:sequence>
			<xs:element name="Client" type="aw36:Client"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Client">
		<xs:annotation>
			<xs:documentation>Persoonsgegevens van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Bsn" type="iwlz:LDT_BurgerServicenummer">
				<xs:annotation>
					<xs:documentation>Een door de overheid toegekend identificerend nummer in het kader van het vereenvoudigen van het contact tussen overheid en burgers en het verminderen van de administratieve lasten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboortedatum" type="iwlz:CDT_Geboortedatum">
			</xs:element>
			<xs:element name="Geslacht" type="iwlz:LDT_Geslacht">
				<xs:annotation>
					<xs:documentation>De sekse van een persoon, zoals bij geboorte formeel vastgesteld of nadien formeel gewijzigd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="iwlz:CDT_VerkorteNaam">
			</xs:element>
			<xs:element name="GeleverdeFuncties" type="aw36:GeleverdeFuncties" minOccurs="0"></xs:element>
			<xs:element name="GeleverdeZorgzwaartepakketten" type="aw36:GeleverdeZorgzwaartepakketten" minOccurs="0"></xs:element>
			<xs:element name="RetourCodes" type="aw36:RetourCodes"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeleverdeFuncties">
		<xs:sequence>
			<xs:element name="GeleverdeFunctie" type="aw36:GeleverdeFunctie"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeleverdeFunctie">
		<xs:annotation>
			<xs:documentation>Gegevens over een geleverde functie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Besluitnummer" type="iwlz:LDT_Nummer">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatiebesluit bij een indicatie-aanvraag van een client bij een indicatieorgaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctieCode" type="iwlz:LDT_FunctieCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een (reeks van) activiteit(en) in functionele termen die losgekoppeld is van een bepaalde leverancier, waarbij wordt beschreven wat de inhoud en aard van die activiteit is in termen van hulpverlening (wonen, zorg en welzijn).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToewijzingIngangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen zorgeenheid voor de eerste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Begindatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>Datum vanaf wanneer een zorgeenheid wordt geleverd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Instelling" type="iwlz:LDT_iWlzAgbCode">
				<xs:annotation>
					<xs:documentation>Identificerende code van een instelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Klasse" type="iwlz:LDT_Klasse">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de mate van zorg betreffende een functie, uitgedrukt in een klasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Opslag" type="iwlz:LDT_Opslag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De omvang van de opslag op de klasse van de functie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusAanlevering" type="iwlz:LDT_StatusAanlevering">
				<xs:annotation>
					<xs:documentation>Indicatie over de status van de informatie in de berichtklasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="aw36:RetourCodes"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeleverdeZorgzwaartepakketten">
		<xs:sequence>
			<xs:element name="GeleverdZorgzwaartepakket" type="aw36:GeleverdZorgzwaartepakket"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeleverdZorgzwaartepakket">
		<xs:annotation>
			<xs:documentation>Gegevens over een geleverd zorgzwaartepakket.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Besluitnummer" type="iwlz:LDT_Nummer">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatiebesluit bij een indicatie-aanvraag van een client bij een indicatieorgaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZzpCode" type="iwlz:LDT_ZzpCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgzwaartepakket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToewijzingIngangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen zorgeenheid voor de eerste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Begindatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>Datum vanaf wanneer een zorgeenheid wordt geleverd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sleuteldatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum vanaf wanneer het verblijf voor de client beschikbaar is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Instelling" type="iwlz:LDT_iWlzAgbCode">
				<xs:annotation>
					<xs:documentation>Identificerende code van een instelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Etmalen" type="iwlz:LDT_Etmalen" minOccurs="0">
			</xs:element>
			<xs:element name="Klasse" type="iwlz:LDT_Klasse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de mate van zorg betreffende een functie, uitgedrukt in een klasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsstatus" type="iwlz:LDT_Leveringsstatus">
				<xs:annotation>
					<xs:documentation>De leveringsstatus waarmee wordt aangegeven wat de status van de geleverde zorg is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsvorm" type="iwlz:LDT_Leveringsvorm">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de vorm waarin zorg binnen de Wlz geleverd kan worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Behandeling" type="iwlz:LDT_JaNee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanduiding of aanbieder bij wie client is opgenomen behandeling levert.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusAanlevering" type="iwlz:LDT_StatusAanlevering">
				<xs:annotation>
					<xs:documentation>Indicatie over de status van de informatie in de berichtklasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="aw36:RetourCodes"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
