XSD/Basisschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.zorgregistratie.nl/iwlz/1_0/basisschema/schema/1_0" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iwlz="http://www.zorgregistratie.nl/iwlz/1_0/basisschema/schema/1_0">
	<xs:simpleType name="Uzovi">
		<xs:annotation>
			<xs:documentation>Code ter identificatie van de zorgkantoorregio.</xs:documentation>
			<xs:documentation>Waardebereik: COD001 - ZORGKANTOOR</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="5501">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Groningen</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5502">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Friesland</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5503">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Drenthe</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5504">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Zwolle</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5505">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Twente</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5506">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Apeldoorn, Zutphen en omstreken</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5507">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Arnhem</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5508">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Nijmegen</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5509">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Utrecht</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5510">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Flevoland</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5511">
			<xs:annotation>
				<xs:documentation>Zorgkantoor 't Gooi</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5512">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Noord Holland Noord</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5513">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Kennemerland</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5514">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Zaanstreek/Waterland</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5515">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Amsterdam</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5516">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Amstelland en De Meerlanden</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5517">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Zuid-Holland Noord</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5518">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Haaglanden</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5519">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Delft Westland Oostland</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5520">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Midden-Holland</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5521">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Rotterdam</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5522">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Nieuwe Waterweg-Noord</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5523">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Zuid-Hollandse Eilanden</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5524">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Waardenland</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5525">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Zeeland</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5526">
			<xs:annotation>
				<xs:documentation>Zorgkantoor West-Brabant</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5527">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Midden-Brabant</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5528">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Noordoost Brabant</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5529">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Zuidoost-Brabant</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5530">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Noord- en Midden Limburg</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5531">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Zuid-Limburg</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5532">
			<xs:annotation>
				<xs:documentation>Zorgkantoor Midden-IJssel</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgbCode">
		<xs:annotation>
			<xs:documentation>Identificerende code van een instelling.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KvkNummer">
		<xs:annotation>
			<xs:documentation>Een uniek identificerend administratienummer van een rechtspersoon zijnde een niet-natuurlijk persoon zoals toegewezen door de Kamer van Koophandel.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AzrAgbCode">
		<xs:annotation>
			<xs:documentation>Identificerende code van een contract in het kader van de Wlz tussen een zorgkantoor en een zorginstelling</xs:documentation>
			<xs:documentation>Waardebereik: iWlz-AGB-Codelijst</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeperkingScore">
		<xs:annotation>
			<xs:documentation>Gecodeerde aanduiding van de score op een vraag over een beperking.</xs:documentation>
			<xs:documentation>Waardebereik: COD828 - SCORE VRAAG BEPERKING</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Kan het zelf, maar iemand anders moet toezien of stimuleren</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Kan dit slechts met veel moeite/iemand anders moet helpen</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Kan dit niet zelfstandig/iemand anders moet dit overnemen</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="9">
			<xs:annotation>
				<xs:documentation>Niet beoordeeld</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="0">
			<xs:annotation>
				<xs:documentation>Kan deze activiteit zelf, er is geen hulp van een ander nodig</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeperkingVraag">
		<xs:annotation>
			<xs:documentation>Gecodeerde aanduiding van de vraag over beperking.</xs:documentation>
			<xs:documentation>Waardebereik: COD825 - VRAAG BEPERKING</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StoornisScore">
		<xs:annotation>
			<xs:documentation>Gecodeerde aanduiding van de score op een vraag over een stoornis.</xs:documentation>
			<xs:documentation>Waardebereik: COD827 - SCORE VRAAG STOORNIS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Wel probleem: af en toe hulp, toezicht of sturing nodig</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Wel probleem: vaak hulp, toezicht of sturing nodig</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Wel probleem: continu hulp, toezicht of sturing nodig</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="9">
			<xs:annotation>
				<xs:documentation>Niet beoordeeld</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="0">
			<xs:annotation>
				<xs:documentation>Geen probleem/geen hulp van anderen nodig</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StoornisVraag">
		<xs:annotation>
			<xs:documentation>Gecodeerde aanduiding van de vraag over stoornissen.</xs:documentation>
			<xs:documentation>Waardebereik: COD824 - VRAAG STOORNIS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Grondslag">
		<xs:annotation>
			<xs:documentation>Codering die aangeeft wat ten grondslag ligt aan de zorg.</xs:documentation>
			<xs:documentation>Waardebereik: COD736 - GRONDSLAG ZORG</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="01">
			<xs:annotation>
				<xs:documentation>SOMATISCHE ZIEKTE/AANDOENING</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="02">
			<xs:annotation>
				<xs:documentation>PSYCHOGERIATRISCHE ZIEKTE/AANDOENING</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="03">
			<xs:annotation>
				<xs:documentation>PSYCHIATRISCHE AANDOENING, PSYCHISCHE STOORNIS</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="04">
			<xs:annotation>
				<xs:documentation>LICHAMELIJKE HANDICAP (FUNCTIESTOORNIS)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="05">
			<xs:annotation>
				<xs:documentation>VERSTANDELIJKE HANDICAP (FUNCTIESTOORNIS)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="06">
			<xs:annotation>
				<xs:documentation>ZINTUIGLIJKE HANDICAP (FUNCTIESTOORNIS)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="07">
			<xs:annotation>
				<xs:documentation>PSYCHOSOCIALE PROBLEMEN</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SoortIndicatie">
		<xs:annotation>
			<xs:documentation>Indicatie van het soort indicatiebesluit.</xs:documentation>
			<xs:documentation>Waardebereik: COD169 - SOORT INDICATIE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DiagnoseCodelijst">
		<xs:annotation>
			<xs:documentation>Code die aangeeft welke diagnosecodelijst gebruikt is, met aanduiding van de oorsprong van de codes en/of de beheerder ervan.</xs:documentation>
			<xs:documentation>Waardebereik: COD392 - DIAGNOSECODELIJST</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Prognose">
		<xs:annotation>
			<xs:documentation>Aanduiding welke prognose er is inzake het ziektebeeld of de stoornis.</xs:documentation>
			<xs:documentation>Waardebereik: COD737 - PROGNOSE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Uitzicht op volledig herstel binnen 1 jaar</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Uitzicht op gedeeltelijk herstel/verbetering binnen 1 jaar</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>De gezondheidstoestand blijft hetzelfde</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4">
			<xs:annotation>
				<xs:documentation>Er wordt een verslechtering verwacht binnen 1 jaar</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5">
			<xs:annotation>
				<xs:documentation>Onbekend; prognose niet beschikbaar of niet mogelijk</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StoornisCode">
		<xs:annotation>
			<xs:documentation>Code die het ziektebeeld of de stoornis van een client identificeert.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DiagnoseSubcodelijst">
		<xs:annotation>
			<xs:documentation>Code die aangeeft welke subcode van een diagnosecodelijst gebruikt is.</xs:documentation>
			<xs:documentation>Waardebereik: COD770 - SUBCODE DIAGNOSECODELIJST</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeperkingCategorie">
		<xs:annotation>
			<xs:documentation>Aanduiding over de categorie van de beperking.</xs:documentation>
			<xs:documentation>Waardebereik: COD539 - BEPERKING</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Sociale redzaamheid</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Mobiliteit</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Persoonlijke zorg</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4">
			<xs:annotation>
				<xs:documentation>Huishoudelijk leven</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5">
			<xs:annotation>
				<xs:documentation>Sociale relaties en maatschappelijk leven</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="6">
			<xs:annotation>
				<xs:documentation>Deelname aan leren, werken</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Duur">
		<xs:annotation>
			<xs:documentation>Code die aangeeft wat de verwachte duur is van de categorie beperking.</xs:documentation>
			<xs:documentation>Waardebereik: COD749 - DUUR</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Korter dan drie maanden</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Drie tot zes maanden</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Zes tot twaalf maanden</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4">
			<xs:annotation>
				<xs:documentation>Langer dan een jaar</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Inzet">
		<xs:annotation>
			<xs:documentation>Codering die de mate van inzet aangeeft</xs:documentation>
			<xs:documentation>Waardebereik: COD261 - INZET</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Volledig</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Gedeeltelijk</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Geen</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Bereikbaarheid">
		<xs:annotation>
			<xs:documentation>Waardebereik: COD003 - BEREIKBAARHEID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>ochtend</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>middag</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>overdag</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SoortAanvraag">
		<xs:annotation>
			<xs:documentation>Waardebereik: COD004 - SOORT AANVRAAG</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>standaard indicatie protocol (voorvullen)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>aanvragen indicatie</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>herindicatie via taakmandaat</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4">
			<xs:annotation>
				<xs:documentation>aanmelden registratieve indicatie</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5">
			<xs:annotation>
				<xs:documentation>aanmelden indicatie</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdentificatieBericht">
		<xs:annotation>
			<xs:documentation>Naam of nummer, die ter identificatie aan een totale aanlevering kan worden meegegeven.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BerichtVersie">
		<xs:annotation>
			<xs:documentation>Volgnummer van de formele uitgifte van een versie van een (externe-integratie)berichtstandaard.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BerichtCode">
		<xs:annotation>
			<xs:documentation>Code ter identificatie van een (soort) (externe-integratie)bericht.</xs:documentation>
			<xs:documentation>Waardebereik: COD002 - BERICHT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BerichtSubversie">
		<xs:annotation>
			<xs:documentation>Volgnummer binnen het versienummer van een (externe-integratie) berichtstandaard. Volgnummer van de formele uitgifte van een subversie van een (Externe Integratie) berichtstandaard.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusAanlevering">
		<xs:annotation>
			<xs:documentation>Indicatie over de status van de informatie in het record.</xs:documentation>
			<xs:documentation>Waardebereik: COD467 - STATUS AANLEVERING</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Eerste aanlevering</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Gewijzigde aanlevering</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Verwijderen aanlevering</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="9">
			<xs:annotation>
				<xs:documentation>Niet van toepassing (ongewijzigd)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetourCode">
		<xs:annotation>
			<xs:documentation>Melding in een AZR-retourbericht.</xs:documentation>
			<xs:documentation>Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
			<xs:documentation>Waardebereik: COD910 - RETOURCODE iWlz</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Regel">
		<xs:annotation>
			<xs:documentation>Vrije tekst (bijvoorbeeld een toelichting) in een bericht.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Regelnummer">
		<xs:annotation>
			<xs:documentation>Uniek aanduiding van een regel vrije tekst.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Bedrag">
		<xs:annotation>
			<xs:documentation>Bedrag in 1/100 van de gehanteerde valuta.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Nummer">
		<xs:annotation>
			<xs:documentation>Nummer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Datum">
		<xs:annotation>
			<xs:documentation>Datum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tijd">
		<xs:annotation>
			<xs:documentation>Tijd</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:time">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TotaalBedrag">
		<xs:annotation>
			<xs:documentation>Bedrag in 1/100 van de gehanteerde valuta.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Percentage">
		<xs:annotation>
			<xs:documentation>Percentage in honderdste procenten.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JaNee">
		<xs:annotation>
			<xs:documentation>Codering voor ja of nee</xs:documentation>
			<xs:documentation>Waardebereik: COD260 - JA OF NEE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Ja</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Nee</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Geslacht">
		<xs:annotation>
			<xs:documentation>Unieke aanduiding van de sexe van een persoon, het niet bekend zijn daarvan, het ontbreken of het niet gespecificeerd zijn.</xs:documentation>
			<xs:documentation>Waardebereik: COD046 - GESLACHT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>MANNELIJK</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>VROUWELIJK</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="9">
			<xs:annotation>
				<xs:documentation>NIET GESPECIFICEERD</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Jaar">
		<xs:annotation>
			<xs:documentation>Geboortejaar van een persoon.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Naam">
		<xs:annotation>
			<xs:documentation>De achternaam van een persoon, indien nodig verkort weergegeven.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NaamCode">
		<xs:annotation>
			<xs:documentation>Aanduiding naamgebruik (gecodeerd).</xs:documentation>
			<xs:documentation>Waardebereik: COD700 - NAAMCODE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Eigen naam</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Naam echtgenoot of geregistreerd partner of alternatieve naam</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Naam echtgenoot of geregistreerd partner gevolgd door eigen naam</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4">
			<xs:annotation>
				<xs:documentation>Eigen naam gevolgd door naam echtgenoot of geregistreerd partner</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5">
			<xs:annotation>
				<xs:documentation>Pseudoniem</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Voorletters">
		<xs:annotation>
			<xs:documentation>De verzameling van letters die wordt gevormd door de eerste letter van alle in volgorde voorkomende voornamen van een persoon.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Voorvoegsel">
		<xs:annotation>
			<xs:documentation>Verzameling van een of meer voorzetsels/lidwoorden, die aan het significante deel van de achternaam van een persoon vooraf gaat en daar een onderdeel van is.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BurgerServicenummer">
		<xs:annotation>
			<xs:documentation>Een door de overheid toegekend identificerend nummer in het kader van het vereenvoudigen van het contact tussen overheid en burgers en het verminderen van de administratieve lasten.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Persoonsid">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DatumGebruik">
		<xs:annotation>
			<xs:documentation>Waardebereik: COD170 - DATUMGEBRUIK</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>dag onbekend; alleen maand en jaar gebruiken</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>dag en maand onbekend; alleen jaar gebruiken</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>dag, maand en jaar onbekend; onbekende datum</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BurgerlijkeStaat">
		<xs:annotation>
			<xs:documentation>Unieke aanduiding die de rechtspositie van een client al dan niet in relatie tot een of meer personen beschrijft.</xs:documentation>
			<xs:documentation>Waardebereik: COD366 - BURGERLIJKE STAAT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Ongehuwd en geen geregistreerd partner en nooit gehuwd of geregistreerd partner geweest</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Gehuwd</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Gescheiden</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4">
			<xs:annotation>
				<xs:documentation>Weduwe/weduwnaar</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5">
			<xs:annotation>
				<xs:documentation>Geregistreerd partner</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="6">
			<xs:annotation>
				<xs:documentation>Gescheiden geregistreerd partner</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="7">
			<xs:annotation>
				<xs:documentation>Achtergebleven geregistreerd partner</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="9">
			<xs:annotation>
				<xs:documentation>Ongehuwd en geen geregistreerd partner, eventueel wel gehuwd of geregistreerd partner geweest</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CizCode">
		<xs:annotation>
			<xs:documentation>Identificatie van het indicatieorgaan dat de indicatiestelling heeft verricht.</xs:documentation>
			<xs:documentation>Waardebereik: COD459 - INDICATIEORGAAN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Leefeenheid">
		<xs:annotation>
			<xs:documentation>Gecodeerde aanduiding van de leefsituatie van een client.</xs:documentation>
			<xs:documentation>Waardebereik: COD478 - LEEFEENHEID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>WOONT ALLEEN EN ZELFSTANDIG (EENPERSOONSHUISHOUDEN)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>WOONT ALS KIND SAMEN MET OUDER(S) IN OUDERLIJK HUIS</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>HEEFT EEN ZELFSTANDIG HUISHOUDEN MET UITSLUITEND PARTNER</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4">
			<xs:annotation>
				<xs:documentation>HEEFT EEN HUISHOUDEN MET PARTNER EN THUISWONENDE KINDEREN</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5">
			<xs:annotation>
				<xs:documentation>HEEFT EEN HUISHOUDEN VAN VOLWASSENE MET 1 OF MEER KINDEREN</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="6">
			<xs:annotation>
				<xs:documentation>EEN ANDER MEERPERSOONSHUISHOUDEN</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="7">
			<xs:annotation>
				<xs:documentation>WOONT IN EEN ZORGINSTELLING MET VERBLIJF</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="9">
			<xs:annotation>
				<xs:documentation>ONBEKEND</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommunicatieVorm">
		<xs:annotation>
			<xs:documentation>Gecodeerde aanduiding van de bijzondere vorm van communicatie die gebruikt dient te worden.</xs:documentation>
			<xs:documentation>Waardebereik: COD747 - COMMUNICATIEVORM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Tolk taal</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Doventolk</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Doofblindentolk</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Taal">
		<xs:annotation>
			<xs:documentation>De taal van de client waarin met de client wordt gecommuniceerd.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JuridischeStatus">
		<xs:annotation>
			<xs:documentation>Juridische situatie die voor de client van toepassing is op het moment van indicatiestelling.</xs:documentation>
			<xs:documentation>Waardebereik: COD232 - JURIDISCHE STATUS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GeheimeClient">
		<xs:annotation>
			<xs:documentation>Codering voor ja of nee</xs:documentation>
			<xs:documentation>Waardebereik: COD260 - JA OF NEE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Ja</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Nee</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Bopz">
		<xs:annotation>
			<xs:documentation>Een artikel 60-verklaring geeft aan of de gevraagde opneming noodzakelijk is.</xs:documentation>
			<xs:documentation>Waardebereik: COD126 - BOPZ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Opname op basis van artikel 60 is aan de orde.</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Opname op basis van artikel 60 is niet aan de orde.</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Opname op basis van artikel 60 is niet aan de orde. Er is bereidheid.</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4">
			<xs:annotation>
				<xs:documentation>Opname op basis van artikel 60 is niet aan de orde. Er is verzet.</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="9">
			<xs:annotation>
				<xs:documentation>Onbekend</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LandCode">
		<xs:annotation>
			<xs:documentation>Identificatie van een (historisch/actueel) land of gebiedsdeel.</xs:documentation>
			<xs:documentation>Waardebereik: COD032 - LAND</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Emailadres">
		<xs:annotation>
			<xs:documentation>Het adres waaronder de client/relatie client via het internet per elektronische post te bereiken is.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Huisnummer">
		<xs:annotation>
			<xs:documentation>De numerieke aanduiding zoals de gemeente die aan het object heeft toegekend.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Organisatie">
		<xs:annotation>
			<xs:documentation>De naam van een organisatie waar de client of relatie client verblijft.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdresSoort">
		<xs:annotation>
			<xs:documentation>Nadere typering van het adres.</xs:documentation>
			<xs:documentation>Waardebereik: COD757 - SOORT ADRES</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="01">
			<xs:annotation>
				<xs:documentation>GBA adres</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="02">
			<xs:annotation>
				<xs:documentation>Correspondentie-adres</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="03">
			<xs:annotation>
				<xs:documentation>Verblijfadres</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="04">
			<xs:annotation>
				<xs:documentation>Tijdelijk verblijfadres</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Plaatsnaam">
		<xs:annotation>
			<xs:documentation>De door de gemeente vastgestelde naam van een woonplaats.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LandNummer">
		<xs:annotation>
			<xs:documentation>Het telefoonnummer van een land, vanuit Nederland benaderd.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TelefoonNummer">
		<xs:annotation>
			<xs:documentation>Het telefoonnummer waarop de client of relatie van de client te bereiken is.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Postcode">
		<xs:annotation>
			<xs:documentation>Aanduiding van de (inter)nationale postcode. Dit veld is geschikt voor zowel de Nederlandse als niet-Nederlandse postcodes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Straatnaam">
		<xs:annotation>
			<xs:documentation>De officiele door de gemeente vastgestelde naam van een straat.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Huisletter">
		<xs:annotation>
			<xs:documentation>Een alfabetisch teken achter het huisnummer zoals dit door het gemeentebestuur is toegekend.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HuisnummerToevoeging">
		<xs:annotation>
			<xs:documentation>Die letters of tekens die noodzakelijk zijn om, naast huisnummer en -letter, de brievenbus te vinden.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AanduidingWoonadres">
		<xs:annotation>
			<xs:documentation>De aanduiding die wordt gebruikt voor adressen die niet zijn voorzien van de gebruikelijke straatnaam en huisnummeraanduidingen.</xs:documentation>
			<xs:documentation>Waardebereik: NUM061 - AANDUIDING WOONADRES</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="BY">
			<xs:annotation>
				<xs:documentation>Bij</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="TO">
			<xs:annotation>
				<xs:documentation>Tegenover</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="AB">
			<xs:annotation>
				<xs:documentation>Aan boord</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="WW">
			<xs:annotation>
				<xs:documentation>Woonwagen</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SoortRelatie">
		<xs:annotation>
			<xs:documentation>De soort relatie die een persoon ten opzichte van de client heeft.</xs:documentation>
			<xs:documentation>Waardebereik: COD472 - SOORT RELATIE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RelatieVolgorde">
		<xs:annotation>
			<xs:documentation>Aanduiding van de prioriteit van de contactpersoon.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Klasse">
		<xs:annotation>
			<xs:documentation>Gecodeerde aanduiding van de mate van zorg betreffende een functie, uitgedrukt in een klasse.</xs:documentation>
			<xs:documentation>Waardebereik: COD756 - KLASSE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="99">
			<xs:annotation>
				<xs:documentation>niet van toepassing</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="K0">
			<xs:annotation>
				<xs:documentation>0 tot 1 uur per week (intervalbegeleiding)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="K1">
			<xs:annotation>
				<xs:documentation>0 tot 2 uur per week (intervalbegeleiding)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="K2">
			<xs:annotation>
				<xs:documentation>2 tot 4 uur per week (intervalbegeleiding, doorgaans meerdere keren per week, gemiddeld 3 uur per week)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="K3">
			<xs:annotation>
				<xs:documentation>4 tot 7 uur per week (min of meer dagelijkse begeleiding eventueel meerdere keren per dag, gemiddeld 5 uur/w)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="K4">
			<xs:annotation>
				<xs:documentation>7 tot 10 uur per week (continue begeleiding, veelal in samenhang met geclusterd wonen, al dan niet verblijf)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="K5">
			<xs:annotation>
				<xs:documentation>10 tot 13 uur per week (continue begeleiding plus toezicht, met geclusterd wonen, structuurbiedend klimaat)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="K6">
			<xs:annotation>
				<xs:documentation>13 tot 16 uur per week (continue begeleiding plus toezicht, met geclusterd wonen, structuurbiedend klimaat met extra aandacht voor</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="K7">
			<xs:annotation>
				<xs:documentation>16 tot 20 uur per week (continue en intensieve begeleiding, individueel en structuurverlenend, permanent toezicht,</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="K8">
			<xs:annotation>
				<xs:documentation>20 tot 25 uur per week (continue begeleiding en bescherming, 24 uurs nabij, in therapeutisch leefklimaat,</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD01">
			<xs:annotation>
				<xs:documentation>Een dagdeel per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD02">
			<xs:annotation>
				<xs:documentation>Twee dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD03">
			<xs:annotation>
				<xs:documentation>Drie dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD04">
			<xs:annotation>
				<xs:documentation>Vier dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD05">
			<xs:annotation>
				<xs:documentation>Vijf dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD06">
			<xs:annotation>
				<xs:documentation>Zes dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD07">
			<xs:annotation>
				<xs:documentation>Zeven dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD08">
			<xs:annotation>
				<xs:documentation>Acht dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD09">
			<xs:annotation>
				<xs:documentation>Negen dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD10">
			<xs:annotation>
				<xs:documentation>Tien dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD11">
			<xs:annotation>
				<xs:documentation>Elf dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD12">
			<xs:annotation>
				<xs:documentation>Twaalf dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD13">
			<xs:annotation>
				<xs:documentation>Dertien dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD14">
			<xs:annotation>
				<xs:documentation>Veertien dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KD15">
			<xs:annotation>
				<xs:documentation>Vijftien dagdelen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KE1">
			<xs:annotation>
				<xs:documentation>Gemiddeld een etmaal per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KE2">
			<xs:annotation>
				<xs:documentation>Gemiddeld twee etmalen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KE3">
			<xs:annotation>
				<xs:documentation>Gemiddeld drie etmalen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KE4">
			<xs:annotation>
				<xs:documentation>Gemiddeld vier etmalen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KE5">
			<xs:annotation>
				<xs:documentation>Gemiddeld vijf etmalen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KE6">
			<xs:annotation>
				<xs:documentation>Gemiddeld zes etmalen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="KE7">
			<xs:annotation>
				<xs:documentation>Zeven etmalen per week</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Leveringsvoorwaarde">
		<xs:annotation>
			<xs:documentation>Codering die aangeeft welke leveringsvoorwaarde van toepassing is voor de zorg.</xs:documentation>
			<xs:documentation>Waardebereik: COD740 - LEVERINGSVOORWAARDE ZORG</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Volgens afspraak op geplande tijden</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Volgens afspraak + direct oproepbaar (toezicht op afstand)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Voortdurend in de nabijheid (toezicht in nabijheid)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4">
			<xs:annotation>
				<xs:documentation>24 uur per dag (toezicht steeds actief)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="8">
			<xs:annotation>
				<xs:documentation>Onbekend</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Leveringsvorm">
		<xs:annotation>
			<xs:documentation>Gecodeerde aanduiding van de vorm waarin de client de zorg wenst te ontvangen/ontvangt.</xs:documentation>
			<xs:documentation>Waardebereik: COD578 - LEVERINGSVORM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Persoonsgebonden budget (PGB)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4">
			<xs:annotation>
				<xs:documentation>Zorg in natura (ZIN)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5">
			<xs:annotation>
				<xs:documentation>Volledig pakket thuis (VPT)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZzpCode">
		<xs:annotation>
			<xs:documentation>Gecodeerde aanduiding van een zorgzwaartepakket.</xs:documentation>
			<xs:documentation>Waardebereik: COD163 - ZORGZWAARTEPAKKET</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Vervoer">
		<xs:annotation>
			<xs:documentation>Indicatie over het van toepassing zijn van vervoer.</xs:documentation>
			<xs:documentation>Waardebereik: COD741 - VERVOER</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Vervoer nodig</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Vervoer niet nodig</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="9">
			<xs:annotation>
				<xs:documentation>Onbekend</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FunctieCode">
		<xs:annotation>
			<xs:documentation>Gecodeerde aanduiding van een (reeks van) activiteit(en) in functionele termen die losgekoppeld is van een bepaalde leverancier, waarbij wordt beschreven wat de inhoud en aard van die activiteit is in termen van hulpverlening (wonen, zorg en welzijn).</xs:documentation>
			<xs:documentation>Waardebereik: COD732 - FUNCTIE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Opslag">
		<xs:annotation>
			<xs:documentation>De omvang van de opslag op de klasse van de functie.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Leveringsstatus">
		<xs:annotation>
			<xs:documentation>De leveringsstatus waarmee wordt aangegeven wat de status van de geleverde zorg is.</xs:documentation>
			<xs:documentation>Waardebereik: COD167 - LEVERINGSSTATUS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Actief wachtend</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Wens wachtend</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Slapend wachtend</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4">
			<xs:annotation>
				<xs:documentation>In zorg</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5">
			<xs:annotation>
				<xs:documentation>Einde zorgvraag</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MutatieCode">
		<xs:annotation>
			<xs:documentation>De reden van een mutatie/beeindiging van de AWBZ-zorg bij client.</xs:documentation>
			<xs:documentation>Waardebereik: COD588 - MUTATIECODE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="02">
			<xs:annotation>
				<xs:documentation>Overlijden</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="12">
			<xs:annotation>
				<xs:documentation>Client wil nu de zorg of ondersteuning (nog) niet</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="17">
			<xs:annotation>
				<xs:documentation>Overplaatsing (er is een melding aanvang zorg of ondersteuning)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="18">
			<xs:annotation>
				<xs:documentation>Aanbieder kan nu de zorg of ondersteuning nog niet leveren</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="19">
			<xs:annotation>
				<xs:documentation>Levering zorg of ondersteuning is beeindigd - toewijzing sluiten</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="20">
			<xs:annotation>
				<xs:documentation>Levering zorg of ondersteuning is beeindigd - toewijzing aanhouden</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="21">
			<xs:annotation>
				<xs:documentation>Overdracht toewijzing (er is geen melding aanvang zorg of ondersteuning)</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RedenIntrekking">
		<xs:annotation>
			<xs:documentation>De reden waarom een toewijzing wordt ingetrokken.</xs:documentation>
			<xs:documentation>Waardebereik: COD172 - REDEN INTREKKING</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SoortToewijzing">
		<xs:annotation>
			<xs:documentation>Indicatie van het soort toewijzing.</xs:documentation>
			<xs:documentation>Waardebereik: COD165 - SOORT TOEWIJZING</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="1">
			<xs:annotation>
				<xs:documentation>Regulier</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="2">
			<xs:annotation>
				<xs:documentation>Alternatief</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="3">
			<xs:annotation>
				<xs:documentation>Overbrugging</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="4">
			<xs:annotation>
				<xs:documentation>Transfer</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="5">
			<xs:annotation>
				<xs:documentation>Administratief</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
