XSD/CA317.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- iWlz CA317 1.1 - 26-8-2015 -->
<xs:schema targetNamespace="http://www.istandaarden.nl/iwlz/1_1/ca317/schema/1_1" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ca317="http://www.istandaarden.nl/iwlz/1_1/ca317/schema/1_1" xmlns:iwlz="http://www.istandaarden.nl/iwlz/1_1/basisschema/schema/1_1">
	<xs:import namespace="http://www.istandaarden.nl/iwlz/1_1/basisschema/schema/1_1" schemaLocation="basisschema.xsd"></xs:import>
	<xs:element name="Bericht" type="ca317:Root"></xs:element>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element name="Header" type="ca317:Header"></xs:element>
			<xs:element name="Clienten" type="ca317:Clienten"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Header">
		<xs:sequence>
			<xs:element name="Berichtspecificatie" type="iwlz:CDT_Berichtspecificatie">
				<xs:annotation>
					<xs:documentation>Aanduiding van het soort bericht, uitgedrukt in een berichtcode, versienummer en subversienummer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Afzender" type="iwlz:LDT_ZorgkantoorCode">
			</xs:element>
			<xs:element name="Berichtidentificatie" type="iwlz:CDT_Berichtidentificatie">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Clienten">
		<xs:sequence>
			<xs:element name="Client" type="ca317:Client" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Client">
		<xs:annotation>
			<xs:documentation>Het clientrecord bevat persoonsgegevens van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Bsn" type="iwlz:LDT_BurgerServicenummer">
				<xs:annotation>
					<xs:documentation>Een door de overheid toegekend identificerend nummer in het kader van het vereenvoudigen van het contact tussen overheid en burgers en het verminderen van de administratieve lasten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CizCode" type="iwlz:LDT_CizCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificatie van het indicatieorgaan dat de indicatiestelling heeft verricht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Clientnummer" type="iwlz:LDT_Persoonsid">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een client bij een indicatieorgaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboortedatum" type="iwlz:CDT_Geboortedatum">
			</xs:element>
			<xs:element name="Geslacht" type="iwlz:LDT_Geslacht">
				<xs:annotation>
					<xs:documentation>De sekse van een persoon, zoals bij geboorte formeel vastgesteld of nadien formeel gewijzigd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="iwlz:CDT_VolledigeNaam">
			</xs:element>
			<xs:element name="StatusAanlevering" type="iwlz:LDT_StatusAanlevering">
				<xs:annotation>
					<xs:documentation>Indicatie over de status van de informatie in het record.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Adres" type="ca317:Adres"></xs:element>
			<xs:element name="GeleverdeFuncties" type="ca317:GeleverdeFuncties" minOccurs="0"></xs:element>
			<xs:element name="GeleverdeZorgzwaartepakketten" type="ca317:GeleverdeZorgzwaartepakketten" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Adressen">
		<xs:sequence>
			<xs:element name="Adres" type="ca317:Adres" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Adres">
		<xs:annotation>
			<xs:documentation>Het adresrecord bevat adresgegevens van de client of een relatie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Soort" type="iwlz:LDT_AdresSoort">
				<xs:annotation>
					<xs:documentation>Nadere typering van het adres.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Adres" type="iwlz:CDT_Adres">
			</xs:element>
			<xs:element name="Telefoon" type="iwlz:CDT_Telefoonnummers" minOccurs="0">
			</xs:element>
			<xs:element name="StatusAanlevering" type="iwlz:LDT_StatusAanlevering">
				<xs:annotation>
					<xs:documentation>Indicatie over de status van de informatie in het record.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeleverdeFuncties">
		<xs:sequence>
			<xs:element name="GeleverdeFunctie" type="ca317:GeleverdeFunctie" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeleverdeFunctie">
		<xs:annotation>
			<xs:documentation>Het functierecord (geleverd) bevat gegevens over een geleverde functie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Aanvraagnummer" type="iwlz:LDT_Nummer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatie-aanvraag van een client bij een indicatieorgaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Besluitnummer" type="iwlz:LDT_Nummer">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatiebesluit bij een indicatie-aanvraag van een client bij een indicatieorgaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Afgiftedatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop het indicatiebesluit genomen is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctieCode" type="iwlz:LDT_FunctieCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een (reeks van) activiteit(en) in functionele termen die losgekoppeld is van een bepaalde leverancier, waarbij wordt beschreven wat de inhoud en aard van die activiteit is in termen van hulpverlening (wonen, zorg en welzijn).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soort" type="iwlz:LDT_SoortToewijzing">
				<xs:annotation>
					<xs:documentation>Indicatie van het soort toewijzing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen functie voor de eerste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Begindatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>Datum vanaf wanneer een zorgeenheid wordt geleverd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Instelling" type="iwlz:LDT_iWlzAgbCode">
				<xs:annotation>
					<xs:documentation>Identificerende code van een instelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Financiering" type="iwlz:LDT_Financiering">
				<xs:annotation>
					<xs:documentation>Aanduiding van de wijze waarop de zorg gefinancierd wordt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusAanlevering" type="iwlz:LDT_StatusAanlevering">
				<xs:annotation>
					<xs:documentation>Indicatie over de status van de informatie in het record.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeleverdeZorgzwaartepakketten">
		<xs:sequence>
			<xs:element name="GeleverdZorgzwaartepakket" type="ca317:GeleverdZorgzwaartepakket" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeleverdZorgzwaartepakket">
		<xs:annotation>
			<xs:documentation>Het zorgzwaartepakketrecord (geleverd) bevat gegevens over een geleverd zorgzwaartepakket.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Aanvraagnummer" type="iwlz:LDT_Nummer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatie-aanvraag van een client bij een indicatieorgaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Besluitnummer" type="iwlz:LDT_Nummer">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatiebesluit bij een indicatie-aanvraag van een client bij een indicatieorgaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Afgiftedatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop het indicatiebesluit genomen is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZzpCode" type="iwlz:LDT_ZzpCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgzwaartepakket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soort" type="iwlz:LDT_SoortToewijzing">
				<xs:annotation>
					<xs:documentation>Indicatie van het soort toewijzing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen functie voor de eerste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Begindatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>Datum vanaf wanneer een zorgeenheid wordt geleverd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sleuteldatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum vanaf wanneer het verblijf voor de client beschikbaar is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Instelling" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerende code van een instelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Klasse" type="iwlz:LDT_Klasse">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de mate van zorg betreffende een functie, uitgedrukt in een klasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsvorm" type="iwlz:LDT_Leveringsvorm">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de vorm waarin de client de zorg wenst te ontvangen/ontvangt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Financiering" type="iwlz:LDT_Financiering">
				<xs:annotation>
					<xs:documentation>Aanduiding van de wijze waarop de zorg gefinancierd wordt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusAanlevering" type="iwlz:LDT_StatusAanlevering">
				<xs:annotation>
					<xs:documentation>Indicatie over de status van de informatie in het record.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
