XSD/CA320.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iwlz="http://www.zorgregistratie.nl/iwlz/1_0/basisschema/schema/1_0" xmlns:ca320="http://www.zorgregistratie.nl/iwlz/1_0/ca320/schema/1_0" targetNamespace="http://www.zorgregistratie.nl/iwlz/1_0/ca320/schema/1_0" elementFormDefault="qualified">
	<xs:import namespace="http://www.zorgregistratie.nl/iwlz/1_0/basisschema/schema/1_0" schemaLocation="basisschema.xsd"/>
	<xs:element name="CA320Bericht" type="ca320:CA320Bericht"/>
	<xs:complexType name="CA320Bericht">
		<xs:annotation>
			<xs:documentation>Bericht voor retourinformatie beeindiging en mutatiegegevens Wlz-zorg aan het CAK.</xs:documentation>
			<xs:documentation>Het bericht is onderdeel van de iWlz-standaard.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Clienten" type="ca320:Clienten" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="BerichtCode" type="iwlz:BerichtCode" use="required">
			<xs:annotation>
				<xs:documentation>Code ter identificatie van een soort bericht.</xs:documentation>
				<xs:documentation>EI-rubrieknummer: 0102</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BerichtVersie" type="iwlz:BerichtVersie" use="required">
			<xs:annotation>
				<xs:documentation>Volgnummer van de formele uitgifte van een versie van een (externe-integratie)berichtstandaard.</xs:documentation>
				<xs:documentation>EI-rubrieknummer: 0103</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BerichtSubversie" type="iwlz:BerichtSubversie">
			<xs:annotation>
				<xs:documentation>Volgnummer binnen het versienummer van een (externe-integratie) berichtstandaard. Volgnummer van de formele uitgifte van een subversie van een (Externe Integratie) berichtstandaard.</xs:documentation>
				<xs:documentation>EI-rubrieknummer: 0104</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Zorgkantoor" type="iwlz:Uzovi" use="required">
			<xs:annotation>
				<xs:documentation>Identificatie van het Zorgkantoor, verantwoordelijk voor het uitvoeren van de Wlz.</xs:documentation>
				<xs:documentation>EI-rubrieknummer: 0105</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IdentificatieHeenbericht" type="iwlz:IdentificatieBericht" use="required">
			<xs:annotation>
				<xs:documentation>Naam of nummer, die ter identificatie aan een totale aanlevering kan worden meegegeven.</xs:documentation>
				<xs:documentation>EI-rubrieknummer: 0106</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DagtekeningHeenbericht" type="iwlz:Datum" use="required">
			<xs:annotation>
				<xs:documentation>De datum van verzending van het bericht.</xs:documentation>
				<xs:documentation>EI-rubrieknummer: 0107</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IdentificatieRetourbericht" type="iwlz:IdentificatieBericht" use="required">
			<xs:annotation>
				<xs:documentation>Naam of nummer, die ter identificatie aan een totale aanlevering kan worden meegegeven.</xs:documentation>
				<xs:documentation>EI-rubrieknummer: 0110</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DagtekeningRetourbericht" type="iwlz:Datum" use="required">
			<xs:annotation>
				<xs:documentation>De datum van verzending van het bericht.</xs:documentation>
				<xs:documentation>EI-rubrieknummer: 0111</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RetourCode01" type="iwlz:RetourCode">
			<xs:annotation>
				<xs:documentation>Melding in een iWlz-retourbericht. Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
				<xs:documentation>EI-rubrieknummer: 0113</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RetourCode02" type="iwlz:RetourCode">
			<xs:annotation>
				<xs:documentation>Melding in een iWlz-retourbericht. Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
				<xs:documentation>EI-rubrieknummer: 0114</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RetourCode03" type="iwlz:RetourCode">
			<xs:annotation>
				<xs:documentation>Melding in een iWlz-retourbericht. Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
				<xs:documentation>EI-rubrieknummer: 0115</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Client">
		<xs:sequence>
			<xs:element name="Bsn" type="iwlz:BurgerServicenummer">
				<xs:annotation>
					<xs:documentation>Een door de overheid toegekend identificerend nummer in het kader van het vereenvoudigen van het contact tussen overheid en burgers en het verminderen van de administratieve lasten.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0203</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CizCode" type="iwlz:CizCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificatie van het indicatieorgaan dat de indicatiestelling heeft verricht.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0204</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Clientnummer" type="iwlz:Persoonsid">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een client bij een indicatieorgaan.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0205</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboortedatum" type="iwlz:Datum">
				<xs:annotation>
					<xs:documentation>Datum waarop een persoon geboren is.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0206</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatumGebruik" type="iwlz:DatumGebruik" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicator die aangeeft welk deel van de voorafgaande datum gebruikt mag worden.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0207</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geslacht" type="iwlz:Geslacht">
				<xs:annotation>
					<xs:documentation>De sekse van een persoon, zoals bij geboorte formeel vastgesteld of nadien formeel gewijzigd.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0208</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam01" type="iwlz:Naam">
				<xs:annotation>
					<xs:documentation>De achternaam van een persoon, indien nodig verkort weergegeven.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0209</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Voorvoegsel01" type="iwlz:Voorvoegsel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Verzameling van een of meer voorzetsels/lidwoorden, die aan het significante deel van de achternaam van een persoon vooraf gaat en daar een onderdeel van is.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0210</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NaamCode01" type="iwlz:NaamCode">
				<xs:annotation>
					<xs:documentation>Aanduiding naamgebruik (gecodeerd).</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0211</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Voorletters" type="iwlz:Voorletters" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De verzameling van letters die wordt gevormd door de eerste letter van alle in volgorde voorkomende voornamen van een persoon.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0212</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusAanlevering" type="iwlz:StatusAanlevering">
				<xs:annotation>
					<xs:documentation>Indicatie over de status van de informatie in het record.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0213</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCode01" type="iwlz:RetourCode">
				<xs:annotation>
					<xs:documentation>Melding in een iWlz-retourbericht. Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0215</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCode02" type="iwlz:RetourCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Melding in een iWlz-retourbericht. Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0216</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCode03" type="iwlz:RetourCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Melding in een iWlz-retourbericht. Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0217</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MutatieFuncties" type="ca320:MutatieFuncties" minOccurs="0"/>
			<xs:element name="MutatieZorgzwaartepakketten" type="ca320:MutatieZorgzwaartepakketten" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Clienten">
		<xs:sequence>
			<xs:element name="Client" type="ca320:Client" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MutatieFunctie">
		<xs:sequence>
			<xs:element name="Aanvraagnummer" type="iwlz:Nummer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatie-aanvraag van een client bij een indicatieorgaan.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0605</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Besluitnummer" type="iwlz:Nummer">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatiebesluit bij een indicatie-aanvraag van een client bij een indicatieorgaan.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0606</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctieCode" type="iwlz:FunctieCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een (reeks van) activiteit(en) in functionele termen die losgekoppeld is van een bepaalde leverancier, waarbij wordt beschreven wat de inhoud en aard van die activiteit is in termen van hulpverlening (wonen, zorg en welzijn).</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0607</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Begindatum" type="iwlz:Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen functie voor de eerste keer geleverd dient te worden.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0608</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:Datum">
				<xs:annotation>
					<xs:documentation>Datum vanaf wanneer een zorgeenheid wordt geleverd.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0609</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Instelling" type="iwlz:AzrAgbCode">
				<xs:annotation>
					<xs:documentation>Identificerende code van een instelling.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0610</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MutatieCode" type="iwlz:MutatieCode">
				<xs:annotation>
					<xs:documentation>De reden van een mutatie/beeindiging van de Wlz-zorg bij client.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0611</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MutatiedatumAwbzZorg" type="iwlz:Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop een mutatie in de Wlz-zorg bij client heeft plaatsgevonden.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0612</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstellingBestemming" type="iwlz:AzrAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerende code van de instelling waar de client zorg zal gaan ontvangen.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0613</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusAanlevering" type="iwlz:StatusAanlevering">
				<xs:annotation>
					<xs:documentation>Indicatie over de status van de informatie in het record.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0614</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCode01" type="iwlz:RetourCode">
				<xs:annotation>
					<xs:documentation>Melding in een iWlz-retourbericht. Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0616</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCode02" type="iwlz:RetourCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Melding in een iWlz-retourbericht. Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0617</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCode03" type="iwlz:RetourCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Melding in een iWlz-retourbericht. Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 0618</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MutatieFuncties">
		<xs:sequence>
			<xs:element name="MutatieFunctie" type="ca320:MutatieFunctie" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MutatieZorgzwaartepakket">
		<xs:sequence>
			<xs:element name="Aanvraagnummer" type="iwlz:Nummer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatie-aanvraag van een client bij een indicatieorgaan.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2905</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Besluitnummer" type="iwlz:Nummer">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatiebesluit bij een indicatie-aanvraag van een client bij een indicatieorgaan.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2906</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZzpCode" type="iwlz:ZzpCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgzwaartepakket.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2907</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Startdatum" type="iwlz:Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen functie voor de eerste keer geleverd dient te worden.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2908</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:Datum">
				<xs:annotation>
					<xs:documentation>Datum vanaf wanneer een zorgeenheid wordt geleverd.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2909</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Instelling" type="iwlz:AzrAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerende code van een instelling.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2910</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MutatieCode" type="iwlz:MutatieCode">
				<xs:annotation>
					<xs:documentation>De reden van een mutatie/beeindiging van de Wlz-zorg bij client.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2911</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mutatiedatum" type="iwlz:Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop een mutatie in de Wlz-zorg bij client heeft plaatsgevonden.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2912</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstellingBestemming" type="iwlz:AzrAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerende code van de instelling waar de client zorg zal gaan ontvangen.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2913</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsvorm" type="iwlz:Leveringsvorm">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de vorm waarin de client de zorg wenst te ontvangen/ontvangt.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2914</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusAanlevering" type="iwlz:StatusAanlevering">
				<xs:annotation>
					<xs:documentation>Indicatie over de status van de informatie in het record.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2915</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCode01" type="iwlz:RetourCode">
				<xs:annotation>
					<xs:documentation>Melding in een iWlz-retourbericht. Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2917</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCode02" type="iwlz:RetourCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Melding in een iWlz-retourbericht. Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2918</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCode03" type="iwlz:RetourCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Melding in een iWlz-retourbericht. Het betreft een code die in een retourbericht het resultaat van de beoordeling van een (deel van een) ontvangen bericht weergeeft.</xs:documentation>
					<xs:documentation>EI-rubrieknummer: 2919</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MutatieZorgzwaartepakketten">
		<xs:sequence>
			<xs:element name="MutatieZorgzwaartepakket" type="ca320:MutatieZorgzwaartepakket" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
