XSD/IO35.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- iWlz IO35 1.1 - 26-8-2015 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:io35="http://www.istandaarden.nl/iwlz/1_1/io35/schema/1_1" xmlns:iwlz="http://www.istandaarden.nl/iwlz/1_1/basisschema/schema/1_1" targetNamespace="http://www.istandaarden.nl/iwlz/1_1/io35/schema/1_1" elementFormDefault="qualified">
	<xs:import namespace="http://www.istandaarden.nl/iwlz/1_1/basisschema/schema/1_1" schemaLocation="basisschema.xsd"/>
	<xs:element name="Bericht" type="io35:Root"/>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element name="Header" type="io35:Header"/>
			<xs:element name="Clienten" type="io35:Clienten"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Header">
		<xs:annotation>
			<xs:documentation>De header bevat de identificerende gegevens van het bestand.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Berichtspecificatie" type="iwlz:CDT_Berichtspecificatie">
				<xs:annotation>
					<xs:documentation>Aanduiding van het soort bericht, uitgedrukt in een berichtcode, versienummer en subversienummer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Afzender" type="iwlz:LDT_KvkNummer">
				<xs:annotation>
					<xs:documentation>KvK-nummer van de zorgaanbieder die de aanvraag doet.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Berichtidentificatie" type="iwlz:CDT_Berichtidentificatie">
				<xs:annotation>
					<xs:documentation>Aanduiding ter identificatie van het bericht, bevat de datum dagtekening en een nummer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Clienten">
		<xs:sequence>
			<xs:element name="Client" type="io35:Client" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Client">
		<xs:annotation>
			<xs:documentation>Persoonsgegevens van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Bsn" type="iwlz:LDT_BurgerServicenummer">
				<xs:annotation>
					<xs:documentation>Een door de overheid toegekend identificerend nummer in het kader van het vereenvoudigen van het contact tussen overheid en burgers en het verminderen van de administratieve lasten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboortedatum" type="iwlz:CDT_Geboortedatum">
				<xs:annotation>
					<xs:documentation>Geboortedatum van de client of relatie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geslacht" type="iwlz:LDT_Geslacht">
				<xs:annotation>
					<xs:documentation>De sekse van een persoon, zoals bij geboorte formeel vastgesteld of nadien formeel gewijzigd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BurgerlijkeStaat" type="iwlz:LDT_BurgerlijkeStaat" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unieke aanduiding die de rechtspositie van een client al dan niet in relatie tot een of meer personen beschrijft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="iwlz:CDT_VolledigeNaam">
				<xs:annotation>
					<xs:documentation>Volledige naam van een natuurlijk persoon, aangeduid als Voorletters, Geslachtsnaam en Partnernaam en een NaamCode die het naamgebruik aangeeft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leefeenheid" type="iwlz:LDT_Leefeenheid">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de leefsituatie van een client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Huisarts" type="iwlz:LDT_AgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de huisarts van de client, opgebouwd uit zorgverlenerssoort gevolgd door een uniek zorgverlenersnummer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communicatie" type="iwlz:CDT_Communicatie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de bijzondere vorm van communicatie die gebruikt dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="JuridischeStatus" type="iwlz:LDT_JuridischeStatus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Juridische situatie die voor de client van toepassing is op het moment van indicatiestelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeheimeClient" type="iwlz:LDT_JaNee">
				<xs:annotation>
					<xs:documentation>Indicatie of er vanwege veiligheidsoverwegingen extra zorgvuldig omgegaan moet worden met de gegevens van een client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Relatie" type="io35:Relatie"/>
			<xs:element name="Adressen" type="io35:Adressen" minOccurs="0"/>
			<xs:element name="Aanvraag" type="io35:Aanvraag"/>
			<xs:element name="Commentaarregels" type="io35:Commentaarregels" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Relaties">
		<xs:sequence>
			<xs:element name="Relatie" type="io35:Relatie" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Relatie">
		<xs:annotation>
			<xs:documentation>Het relatierecord bevat persoonsgegevens van de relatie van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nummer" type="iwlz:LDT_Persoonsid">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van de relatie van een client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Volgorde" type="iwlz:LDT_RelatieVolgorde" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanduiding van de prioriteit van de contactpersoon.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soort" type="iwlz:LDT_SoortRelatie">
				<xs:annotation>
					<xs:documentation>De soort relatie die een persoon ten opzichte van de client heeft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboortedatum" type="iwlz:CDT_Geboortedatum" minOccurs="0"/>
			<xs:element name="Geslacht" type="iwlz:LDT_Geslacht" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De sekse van een persoon, zoals bij geboorte formeel vastgesteld of nadien formeel gewijzigd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="iwlz:CDT_VolledigeNaam"/>
			<xs:element name="Adres" type="io35:Adres"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Adressen">
		<xs:sequence>
			<xs:element name="Adres" type="io35:Adres" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Adres">
		<xs:annotation>
			<xs:documentation>Adresgegevens van de client of een relatie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Soort" type="iwlz:LDT_AdresSoort">
				<xs:annotation>
					<xs:documentation>Nadere typering van het adres.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Adres" type="iwlz:CDT_Adres" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adres van de client of relatie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organisatie" type="iwlz:LDT_OrganisatieNaam" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De naam van een organisatie waar de client of relatie verblijft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telefoon" type="iwlz:CDT_Telefoonnummers" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Het telefoonnummer van de client of relatie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Emailadres" type="iwlz:LDT_Emailadres" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Het e-mailadres van de client of relatie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Begindatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De begindatum van het verblijf van de client of relatie op een tijdelijk adres.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De einddatum van het verblijf van de client of relatie op een tijdelijk adres.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Aanvragen">
		<xs:sequence>
			<xs:element name="Aanvraag" type="io35:Aanvraag" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Aanvraag">
		<xs:annotation>
			<xs:documentation>Gegevens over de aanvraag van een indicatie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Aanvraagnummer" type="iwlz:LDT_Nummer">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatie-aanvraag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soort" type="iwlz:LDT_SoortAanvraag">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de soort aanvraag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grondslagen" type="iwlz:CDT_Grondslagen" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De verzameling van gecodeerde aanduidingen die aangeven wat ten grondslag ligt aan het indicatiebesluit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Aanvraagdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de indicatie-aanvraag is opgesteld.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft vanaf welke datum het indicatiebesluit rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft tot en met welke datum het indicatiebesluit rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BenaderenHuisarts" type="iwlz:LDT_JaNee">
				<xs:annotation>
					<xs:documentation>Aanduiding die aangeeft of de client wel of geen toestemming geeft voor het opvragen van informatie bij de huisarts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BenaderenBehandelaar" type="iwlz:LDT_JaNee">
				<xs:annotation>
					<xs:documentation>Aanduiding die aangeeft of de client wel of geen toestemming geeft voor het opvragen van informatie bij behandelende professionals.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mantelzorg" type="io35:Mantelzorg" minOccurs="0"/>
			<xs:element name="Stoornissen" type="io35:Stoornissen" minOccurs="0"/>
			<xs:element name="Beperkingen" type="io35:Beperkingen" minOccurs="0"/>
			<xs:element name="AangvraagdeFuncties" type="io35:AangvraagdeFuncties" minOccurs="0"/>
			<xs:element name="ScoreStoornissen" type="io35:ScoreStoornissen" minOccurs="0"/>
			<xs:element name="Deskundige" type="io35:Deskundige"/>
			<xs:element name="AangevraagdeZorgzwaartepakketten" type="io35:AangevraagdeZorgzwaartepakketten" minOccurs="0"/>
			<xs:element name="Commentaarregels" type="io35:Commentaarregels" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Mantelzorgen">
		<xs:sequence>
			<xs:element name="Mantelzorg" type="io35:Mantelzorg" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Mantelzorg">
		<xs:annotation>
			<xs:documentation>Het mantelzorgrecord bevat informatie over gebruikelijke zorg en mantelzorg.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GebruikelijkeZorg" type="iwlz:CDT_GebruikelijkeZorg">
				<xs:annotation>
					<xs:documentation>Er is sprake van gebruikelijke zorg.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mantelzorg" type="iwlz:CDT_Mantelzorg">
				<xs:annotation>
					<xs:documentation>De mantelzorger is bereid en in staat vrijwillig Wlz-zorg te leveren.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Stoornissen">
		<xs:sequence>
			<xs:element name="Stoornis" type="io35:Stoornis" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Stoornis">
		<xs:annotation>
			<xs:documentation>Het ziektebeeld- en stoornisrecord bevat diagnostische gegevens m.b.t. ziektebeeld en/of stoornis van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Grondslag" type="iwlz:LDT_Grondslag"/>
			<xs:element name="DiagnoseCodelijst" type="iwlz:LDT_DiagnoseCodelijst">
				<xs:annotation>
					<xs:documentation>Code die aangeeft welke diagnosecodelijst gebruikt is, met aanduiding van de oorsprong van de codes en/of de beheerder ervan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiagnoseSubcodelijst" type="iwlz:LDT_DiagnoseSubcodelijst" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code die aangeeft welke subcode van een diagnosecodelijst gebruikt is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZiektebeeldStoornis" type="iwlz:LDT_StoornisCode">
				<xs:annotation>
					<xs:documentation>Code die het ziektebeeld of de stoornis van een client identificeert.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prognose" type="iwlz:LDT_Prognose" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanduiding welke prognose er is inzake het ziektebeeld of de stoornis.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaarregels" type="io35:Commentaarregels" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beperkingen">
		<xs:sequence>
			<xs:element name="Beperking" type="io35:Beperking" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beperking">
		<xs:annotation>
			<xs:documentation>Gegevens over beperkingen van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Beperking" type="iwlz:LDT_BeperkingCategorie">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de categorie van de beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duur" type="iwlz:LDT_Duur" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code die aangeeft wat de verwachte duur is van de categorie beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScoreBeperkingen" type="io35:ScoreBeperkingen" minOccurs="0"/>
			<xs:element name="Commentaarregels" type="io35:Commentaarregels" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScoreBeperkingen">
		<xs:sequence>
			<xs:element name="ScoreBeperking" type="io35:ScoreBeperking" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScoreBeperking">
		<xs:annotation>
			<xs:documentation>Het score-beperkingrecord bevat scoregegevens over beperkingen van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Vraag" type="iwlz:LDT_BeperkingVraag">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de vraag over een beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Score" type="iwlz:LDT_BeperkingScore">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de score op een vraag over een beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaarregels" type="io35:Commentaarregels" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AangvraagdeFuncties">
		<xs:sequence>
			<xs:element name="AangevraagdeFunctie" type="io35:AangevraagdeFunctie" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AangevraagdeFunctie">
		<xs:annotation>
			<xs:documentation>Gegevens over een aangevraagde functie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FunctieCode" type="iwlz:LDT_FunctieCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgfunctie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft vanaf welke datum de geindiceerde zorgeenheid rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft tot en met welke datum de geindiceerde zorgeenheid rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Klasse" type="iwlz:LDT_Klasse">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de mate van zorg betreffende een zorgeenheid, uitgedrukt in een klasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Opslag" type="iwlz:LDT_Opslag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De omvang van de opslag op de klasse van de functie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsvoorwaarde" type="iwlz:LDT_Leveringsvoorwaarde">
				<xs:annotation>
					<xs:documentation>Codering die aangeeft welke leveringsvoorwaarde van toepassing is op de zorg.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vervoer" type="iwlz:LDT_Vervoer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding die aangeeft of vervoer van toepassing is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VoorkeurClient" type="iwlz:LDT_VoorkeurClient" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de voorkeur van de client ten aanzien van plaats en vorm van zorglevering.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstellingVoorkeur" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerende code van de instelling die de voorkeur heeft van de client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Financiering" type="iwlz:LDT_Financiering">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de regeling op basis waarvan de zorg gefinancierd wordt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaarregels" type="io35:Commentaarregels" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScoreStoornissen">
		<xs:sequence>
			<xs:element name="ScoreStoornis" type="io35:ScoreStoornis" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScoreStoornis">
		<xs:annotation>
			<xs:documentation>Het score-stoornisrecord bevat scoregegevens over stoornissen van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Vraag" type="iwlz:LDT_StoornisVraag">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de vraag over stoornissen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Score" type="iwlz:LDT_StoornisScore">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de score op een vraag over een stoornis.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaarregels" type="io35:Commentaarregels" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Deskundigen">
		<xs:sequence>
			<xs:element name="Deskundige" type="io35:Deskundige" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Deskundige">
		<xs:annotation>
			<xs:documentation>Gegevens over de deskundige die de aanvraag voor de client heeft opgesteld.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Geslacht" type="iwlz:LDT_Geslacht" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De sekse van een persoon, zoals bij geboorte formeel vastgesteld of nadien formeel gewijzigd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="iwlz:CDT_VolledigeNaam">
				<xs:annotation>
					<xs:documentation>De achternaam van een persoon, indien nodig verkort weergegeven.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Emailadres" type="iwlz:LDT_Emailadres">
				<xs:annotation>
					<xs:documentation>E-mailadres van de deskundige.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telefoon" type="iwlz:CDT_Telefoon">
				<xs:annotation>
					<xs:documentation>Het telefoonnummer van de deskundige.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Bereikbaarheid" type="iwlz:CDT_Bereikbaarheid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De dagdelen waarop de deskundige bereikbaar is.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AangevraagdeZorgzwaartepakketten">
		<xs:sequence>
			<xs:element name="AangevraagdZorgzwaartepakket" type="io35:AangevraagdZorgzwaartepakket" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AangevraagdZorgzwaartepakket">
		<xs:annotation>
			<xs:documentation>Gegevens over een aangevraagd zorgzwaartepakket.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZzpCode" type="iwlz:LDT_ZzpCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgzwaartepakket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft vanaf welke datum de geindiceerde zorgeenheid rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft tot en met welke datum de geindiceerde zorgeenheid rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Klasse" type="iwlz:LDT_Klasse">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de mate van zorg betreffende een zorgeenheid, uitgedrukt in een klasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VoorkeurClient" type="iwlz:LDT_VoorkeurClient" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de voorkeur van de client ten aanzien van plaats en vorm van zorglevering.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstellingVoorkeur" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerende code van de instelling die de voorkeur heeft van de client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Financiering" type="iwlz:LDT_Financiering">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de regeling op basis waarvan de zorg gefinancierd wordt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaarregels" type="io35:Commentaarregels" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Commentaarregels">
		<xs:annotation>
			<xs:documentation>Commentaarregels</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Commentaarregel" type="iwlz:CDT_Commentaar" maxOccurs="9999"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
