XSD/ZK32.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by College voor Zorgverzekeringen (College voor Zorgverzekeringen) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iwlz="http://www.istandaarden.nl/iwlz/2_1/basisschema/schema" xmlns:zk32="http://www.istandaarden.nl/iwlz/2_1/zk32/schema" targetNamespace="http://www.istandaarden.nl/iwlz/2_1/zk32/schema" elementFormDefault="qualified">
	<xs:import namespace="http://www.istandaarden.nl/iwlz/2_1/basisschema/schema" schemaLocation="basisschema.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<iwlz:standaard>iwlz</iwlz:standaard>
			<iwlz:bericht>zk32</iwlz:bericht>
			<iwlz:release>2.1</iwlz:release>
			<iwlz:BerichtXsdVersie>1.0.0</iwlz:BerichtXsdVersie>
			<iwlz:BerichtXsdMinVersie>1.0.0</iwlz:BerichtXsdMinVersie>
			<iwlz:BerichtXsdMaxVersie>1.0.0</iwlz:BerichtXsdMaxVersie>
			<iwlz:BasisschemaXsdVersie>1.0.0</iwlz:BasisschemaXsdVersie>
			<iwlz:BasisschemaXsdMinVersie>1.0.0</iwlz:BasisschemaXsdMinVersie>
			<iwlz:BasisschemaXsdMaxVersie>1.0.0</iwlz:BasisschemaXsdMaxVersie>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="Bericht" type="zk32:Root"/>
	<xs:complexType name="Root">
		<xs:annotation>
			<xs:documentation>Bericht voor dossieroverdracht client ZK-ZK (zorgkantoor naar zorgkantoor), bij verhuizing van de client naar een andere zorgkantoorregio.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="zk32:Header"/>
			<xs:element name="Client" type="zk32:Client" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Header">
		<xs:annotation>
			<xs:documentation>De header bevat de identificerende gegevens van het bestand.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BerichtCode">
				<xs:annotation>
					<xs:documentation>Code ter identificatie van een soort bericht.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_BerichtCode">
						<xs:pattern value="392"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BerichtVersie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een major release van een iStandaard.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_BerichtVersie">
						<xs:pattern value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BerichtSubversie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een minor release van een iStandaard.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_BerichtSubversie">
						<xs:pattern value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Afzender" type="iwlz:LDT_ZorgkantoorCode">
				<xs:annotation>
					<xs:documentation>Identificatie van het Zorgkantoor, verantwoordelijk voor het uitvoeren van de Wlz.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ontvanger" type="iwlz:LDT_ZorgkantoorCode">
				<xs:annotation>
					<xs:documentation>Identificerende code van een contract in het kader van de Wlz tussen een zorgkantoor en een zorginstelling (iWlz-AGB-code).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BerichtIdentificatie" type="iwlz:CDT_BerichtIdentificatie">
				<xs:annotation>
					<xs:documentation>Aanduiding ter identificatie van het bericht, bevat de datum dagtekening en een nummer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XsdVersie" type="iwlz:CDT_XsdVersie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een versie van de XSD's die zijn ingezet voor het opstellen van het heenbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentificatieRetour" type="iwlz:LDT_IdentificatieBericht">
				<xs:annotation>
					<xs:documentation>Naam of nummer ter identificatie van een retourbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DagtekeningRetour" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>Dagtekening van het retourbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XsltVersie" type="iwlz:LDT_Versie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een versie van de XSLT's die zijn ingezet voor de controle van het heenbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XsdVersieRetour" type="iwlz:CDT_XsdVersie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een versie van de XSD's die zijn ingezet voor het opstellen van het retourbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="zk32:RetourCodes" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetourCodes">
		<xs:sequence>
			<xs:element name="RetourCode" type="iwlz:LDT_RetourCode" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding in een retourbericht van het resultaat van de beoordeling van een (deel van het) ontvangen bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Client">
		<xs:annotation>
			<xs:documentation>Persoonsgegevens van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Bsn" type="iwlz:LDT_BurgerServicenummer">
				<xs:annotation>
					<xs:documentation>Een door de overheid toegekend identificerend nummer in het kader van het vereenvoudigen van het contact tussen overheid en burgers en het verminderen van de administratieve lasten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeheimeClient" type="iwlz:LDT_JaNee">
				<xs:annotation>
					<xs:documentation>Indicatie of er vanwege veiligheidsoverwegingen extra zorgvuldig omgegaan moet worden met de gegevens van een client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboortedatum" type="iwlz:CDT_Geboortedatum">
				<xs:annotation>
					<xs:documentation>Geboortedatum van de client of relatie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geslacht" type="iwlz:LDT_Geslacht">
				<xs:annotation>
					<xs:documentation>De sekse van een persoon, zoals bij geboorte formeel vastgesteld of nadien formeel gewijzigd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BurgerlijkeStaat" type="iwlz:LDT_BurgerlijkeStaat" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unieke aanduiding die de rechtspositie van een client al dan niet in relatie tot een of meer personen beschrijft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="iwlz:CDT_VolledigeNaam">
				<xs:annotation>
					<xs:documentation>Volledige naam van een natuurlijk persoon, aangeduid als Geslachtsnaam, eventueel Partnernaam, Voornamen en/of Voorletters en NaamGebruik.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leefeenheid" type="iwlz:LDT_Leefeenheid">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de leefsituatie van een client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Huisarts" type="iwlz:LDT_AgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de huisarts van de client, opgebouwd uit zorgverlenerssoort gevolgd door een uniek zorgverlenersnummer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communicatie" type="iwlz:CDT_Communicatie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de bijzondere vorm van communicatie die gebruikt dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="JuridischeStatus" type="iwlz:LDT_JuridischeStatus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Juridische situatie die voor de client van toepassing is op het moment van indicatiestelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wzd" type="iwlz:CDT_Wzd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanduiding of Wet zorg en dwang van toepassing is en voor welke periode. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Verhuisdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>Ingangsdatum van het nieuwe adres zoals vastgelegd in de Basis Registratie Personen (BRP)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="iwlz:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Relaties" type="zk32:Relaties" minOccurs="0"/>
			<xs:element name="Contactgegevens" type="zk32:Contactgegevens"/>
			<xs:element name="Indicatie" type="zk32:Indicatie"/>
			<xs:element name="RetourCodes" type="zk32:RetourCodes"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Relaties">
		<xs:sequence>
			<xs:element name="Relatie" type="zk32:Relatie" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Relatie">
		<xs:annotation>
			<xs:documentation>Persoonsgegevens van de relatie van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nummer" type="iwlz:LDT_Persoonsid">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van de relatie van een client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Volgorde" type="iwlz:LDT_RelatieVolgorde" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanduiding van de prioriteit van de contactpersoon.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soort" type="iwlz:LDT_SoortRelatie">
				<xs:annotation>
					<xs:documentation>De soort relatie die een persoon ten opzichte van de client heeft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboortedatum" type="iwlz:CDT_Geboortedatum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Geboortedatum van de client of relatie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geslacht" type="iwlz:LDT_Geslacht" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De sekse van een persoon, zoals bij geboorte formeel vastgesteld of nadien formeel gewijzigd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="iwlz:CDT_VolledigeNaam">
				<xs:annotation>
					<xs:documentation>Volledige naam van een natuurlijk persoon, aangeduid als Geslachtsnaam, eventueel Partnernaam, Voornamen en/of Voorletters en NaamGebruik.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="zk32:Contact"/>
			<xs:element name="RetourCodes" type="zk32:RetourCodes"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:annotation>
			<xs:documentation>Gegevens voor de aanduiding van het adres van de client of relatie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Soort" type="iwlz:LDT_AdresSoort">
				<xs:annotation>
					<xs:documentation>Nadere typering van het adres.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Adres" type="iwlz:CDT_Adres" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adres van de client of relatie van de client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organisatie" type="iwlz:LDT_Organisatienaam" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De naam van een organisatie waar de client of relatie van de client verblijft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telefoon" type="iwlz:CDT_Telefoonnummers" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De telefoonnummers waarop de client of relatie van de client te bereiken is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Emailadres" type="iwlz:LDT_Emailadres" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Het e-mailadres van de client of relatie van de client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Periode" type="iwlz:CDT_OpenPeriode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Begindatum en/of een einddatum van het verblijf van de client of relatie van de client op een tijdelijk adres.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="zk32:RetourCodes"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contactgegevens">
		<xs:sequence>
			<xs:element name="Contact" type="zk32:Contact" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Indicatie">
		<xs:annotation>
			<xs:documentation>De indicatie bevat de indicatiebesluitgegevens van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Besluitnummer" type="iwlz:LDT_Nummer">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatiebesluit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soort" type="iwlz:LDT_SoortIndicatie">
				<xs:annotation>
					<xs:documentation>Code voor de soort indicatie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grondslagen" type="iwlz:CDT_Grondslagen" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De verzameling van gecodeerde aanduidingen die aangeven wat ten grondslag ligt aan het indicatiebesluit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Afgiftedatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop het indicatiebesluit is afgegeven.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft vanaf welke datum het indicatiebesluit rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum die aangeeft tot en met welke datum het indicatiebesluit rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Meerzorg" type="iwlz:LDT_JaNee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding waarmee het CIZ aangeeft of meerzorg van toepassing zou kunnen zijn.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Overdrachtdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>Datum waarop het dossier van de client wordt overgedragen aan het nieuwe zorgkantoor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="iwlz:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stoornissen" type="zk32:Stoornissen" minOccurs="0"/>
			<xs:element name="Beperkingen" type="zk32:Beperkingen" minOccurs="0"/>
			<xs:element name="GeindiceerdeFuncties" type="zk32:GeindiceerdeFuncties" minOccurs="0"/>
			<xs:element name="StoornisScores" type="zk32:StoornisScores" minOccurs="0"/>
			<xs:element name="ToegewezenFuncties" type="zk32:ToegewezenFuncties" minOccurs="0"/>
			<xs:element name="GeindiceerdeZorgzwaartepakketten" type="zk32:GeindiceerdeZorgzwaartepakketten" minOccurs="0"/>
			<xs:element name="ToegewezenZorgzwaartepakketten" type="zk32:ToegewezenZorgzwaartepakketten" minOccurs="0"/>
			<xs:element name="RetourCodes" type="zk32:RetourCodes"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Stoornissen">
		<xs:sequence>
			<xs:element name="Stoornis" type="zk32:Stoornis" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Stoornis">
		<xs:annotation>
			<xs:documentation>Diagnostische gegevens m.b.t. ziektebeeld en/of stoornis van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Grondslag" type="iwlz:LDT_Grondslag">
				<xs:annotation>
					<xs:documentation>Codering die aangeeft wat ten grondslag ligt aan de zorg.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiagnoseCodelijst" type="iwlz:LDT_DiagnoseCodelijst">
				<xs:annotation>
					<xs:documentation>Code die aangeeft welke diagnosecodelijst gebruikt is, met aanduiding van de oorsprong van de codes en/of de beheerder ervan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiagnoseSubcodelijst" type="iwlz:LDT_DiagnoseSubcodelijst" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code die aangeeft welke subcode van een diagnosecodelijst gebruikt is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZiektebeeldStoornis" type="iwlz:LDT_StoornisCode">
				<xs:annotation>
					<xs:documentation>Code die het ziektebeeld of de stoornis van een client identificeert.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prognose" type="iwlz:LDT_Prognose" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanduiding welke prognose er is inzake het ziektebeeld of de stoornis.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="iwlz:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="zk32:RetourCodes"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beperkingen">
		<xs:sequence>
			<xs:element name="Beperking" type="zk32:Beperking" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beperking">
		<xs:annotation>
			<xs:documentation>Gegevens over beperkingen van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Categorie" type="iwlz:LDT_BeperkingCategorie">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duur" type="iwlz:LDT_Duur" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code die aangeeft wat de verwachte duur is van de categorie beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="iwlz:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeperkingScores" type="zk32:BeperkingScores" minOccurs="0"/>
			<xs:element name="RetourCodes" type="zk32:RetourCodes"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeperkingScores">
		<xs:sequence>
			<xs:element name="BeperkingScore" type="zk32:BeperkingScore" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeperkingScore">
		<xs:annotation>
			<xs:documentation>Scoregegevens over de beperkingen van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Vraag" type="iwlz:LDT_BeperkingVraag">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de vraag over beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Score" type="iwlz:LDT_BeperkingScore">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de score op een vraag over een beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="iwlz:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="zk32:RetourCodes"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeindiceerdeFuncties">
		<xs:sequence>
			<xs:element name="GeindiceerdeFunctie" type="zk32:GeindiceerdeFunctie" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeindiceerdeFunctie">
		<xs:annotation>
			<xs:documentation>Gegevens over een geindiceerde functie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FunctieCode" type="iwlz:LDT_FunctieCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgfunctie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft vanaf welke datum de geindiceerde zorgeenheid rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft tot en met welke datum de geindiceerde zorgeenheid rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Klasse" type="iwlz:LDT_Klasse">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de mate van zorg betreffende een zorgeenheid, uitgedrukt in een klasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Opslag" type="iwlz:LDT_Opslag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De omvang van de opslag op de klasse van de functie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsvoorwaarde" type="iwlz:LDT_Leveringsvoorwaarde">
				<xs:annotation>
					<xs:documentation>Codering die aangeeft welke leveringsvoorwaarde van toepassing is op de zorg.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vervoer" type="iwlz:LDT_Vervoer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding die aangeeft of vervoer van toepassing is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstellingVoorkeur" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerende code van de instelling die de voorkeur heeft van de client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Financiering" type="iwlz:LDT_Financiering">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de regeling op basis waarvan de zorg gefinancierd wordt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="iwlz:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="zk32:RetourCodes"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StoornisScores">
		<xs:sequence>
			<xs:element name="StoornisScore" type="zk32:StoornisScore" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StoornisScore">
		<xs:annotation>
			<xs:documentation>Scoregegevens over ziektebeeld / stoornis van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Vraag" type="iwlz:LDT_StoornisVraag">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de vraag over een stoornis.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Score" type="iwlz:LDT_StoornisScore">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de score op een vraag over een stoornis.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="iwlz:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="zk32:RetourCodes"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ToegewezenFuncties">
		<xs:sequence>
			<xs:element name="ToegewezenFunctie" type="zk32:ToegewezenFunctie" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ToegewezenFunctie">
		<xs:annotation>
			<xs:documentation>Gegevens over een toegewezen functie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FunctieCode" type="iwlz:LDT_FunctieCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgfunctie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Instelling" type="iwlz:LDT_iWlzAgbCode">
				<xs:annotation>
					<xs:documentation>Identificerende code van een instelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zorgkantoor" type="iwlz:LDT_ZorgkantoorCode">
				<xs:annotation>
					<xs:documentation>Code van het Zorgkantoor, verantwoordelijk voor het uitvoeren van de Wlz.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soort" type="iwlz:LDT_SoortToewijzing">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de soort toewijzing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Toewijzingsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop het zorgkantoor de zorgtoewijzing heeft vastgesteld.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Toewijzingstijd" type="iwlz:LDT_Tijd">
				<xs:annotation>
					<xs:documentation>Het tijdstip waarop het zorgkantoor de zorgtoewijzing heeft vastgesteld.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen zorgeenheid voor de eerste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen zorgeenheid voor de laatste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Klasse" type="iwlz:LDT_Klasse">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de mate van zorg betreffende een zorgeenheid, uitgedrukt in een klasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Opslag" type="iwlz:LDT_Opslag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De omvang van de opslag op de klasse van de functie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vervoer" type="iwlz:LDT_Vervoer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding die aangeeft of vervoer van toepassing is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsstatus" type="iwlz:LDT_Leveringsstatus">
				<xs:annotation>
					<xs:documentation>De leveringsstatus waarmee wordt aangegeven wat de actuele status van de geleverde zorg is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="zk32:RetourCodes"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeindiceerdeZorgzwaartepakketten">
		<xs:sequence>
			<xs:element name="GeindiceerdZorgzwaartepakket" type="zk32:GeindiceerdZorgzwaartepakket" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeindiceerdZorgzwaartepakket">
		<xs:annotation>
			<xs:documentation>Gegevens over een geindiceerd zorgzwaartepakket.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZzpCode" type="iwlz:LDT_ZzpCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgzwaartepakket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft vanaf welke datum de geindiceerde zorgeenheid rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft tot en met welke datum de geindiceerde zorgeenheid rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Klasse" type="iwlz:LDT_Klasse">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de mate van zorg betreffende een zorgeenheid, uitgedrukt in een klasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VoorkeurClient" type="iwlz:LDT_VoorkeurClient" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de voorkeur van de client ten aanzien van plaats en vorm van zorglevering.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstellingVoorkeur" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerende code van de instelling die de voorkeur heeft van de client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Financiering" type="iwlz:LDT_Financiering">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de regeling op basis waarvan de zorg gefinancierd wordt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="iwlz:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="zk32:RetourCodes"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ToegewezenZorgzwaartepakketten">
		<xs:sequence>
			<xs:element name="ToegewezenZorgzwaartepakket" type="zk32:ToegewezenZorgzwaartepakket" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ToegewezenZorgzwaartepakket">
		<xs:annotation>
			<xs:documentation>Het zorgzwaartepakketrecord (zorgtoewijzing) bevat gegevens over een toegewezen zorgzwaartepakket.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZzpCode" type="iwlz:LDT_ZzpCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgzwaartepakket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Instelling" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerende code van een instelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zorgkantoor" type="iwlz:LDT_ZorgkantoorCode">
				<xs:annotation>
					<xs:documentation>Code van het Zorgkantoor, verantwoordelijk voor het uitvoeren van de Wlz.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soort" type="iwlz:LDT_SoortToewijzing">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de soort toewijzing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Toewijzingsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop het zorgkantoor de zorgtoewijzing heeft vastgesteld.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Toewijzingstijd" type="iwlz:LDT_Tijd">
				<xs:annotation>
					<xs:documentation>Het tijdstip waarop het zorgkantoor de zorgtoewijzing heeft vastgesteld.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToewijzingPercentage" type="iwlz:LDT_Percentage">
				<xs:annotation>
					<xs:documentation>Toegewezen deel van het budget dat geldt voor het betreffende zorgprofiel uitgedrukt in een percentage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen zorgeenheid voor de eerste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen zorgeenheid voor de laatste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Etmalen" type="iwlz:LDT_Etmalen" minOccurs="0"/>
			<xs:element name="Klasse" type="iwlz:LDT_Klasse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de mate van zorg betreffende een zorgeenheid, uitgedrukt in een klasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsvorm" type="iwlz:LDT_Leveringsvorm">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de vorm waarin zorg binnen de Wlz geleverd kan worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dossierhouder" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Voorkeuraanbieder van de client voor het verblijf of de levering van het volledig pakket thuis. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoordinatorZorgThuis" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanbieder die de zorg thuis coordineert. Deze aanbieder is het aanspreekpunt voor de client en voor de andere aanbieders die bij de zorglevering van het modulair pakket thuis (MPT) aan de client betrokken zijn.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsstatus" type="iwlz:LDT_Leveringsstatus">
				<xs:annotation>
					<xs:documentation>De leveringsstatus waarmee wordt aangegeven wat de actuele status van de geleverde zorg is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Opname" type="iwlz:LDT_JaNee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicatie of de client bij deze aanbieder opgenomen wordt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="zk32:RetourCodes"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
