XSD/ZK39.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iwlz="http://www.istandaarden.nl/iwlz/2_2/basisschema/schema" xmlns:zk39="http://www.istandaarden.nl/iwlz/2_2/zk39/schema" targetNamespace="http://www.istandaarden.nl/iwlz/2_2/zk39/schema" elementFormDefault="qualified">
	<xs:import namespace="http://www.istandaarden.nl/iwlz/2_2/basisschema/schema" schemaLocation="basisschema.xsd"></xs:import>
	<xs:annotation>
		<xs:appinfo>
			<iwlz:standaard>iwlz</iwlz:standaard>
			<iwlz:bericht>zk39</iwlz:bericht>
			<iwlz:release>2.2</iwlz:release>
			<iwlz:BerichtXsdVersie>0.1.0</iwlz:BerichtXsdVersie>
			<iwlz:BerichtXsdMinVersie>0.1.0</iwlz:BerichtXsdMinVersie>
			<iwlz:BerichtXsdMaxVersie>0.1.0</iwlz:BerichtXsdMaxVersie>
			<iwlz:BasisschemaXsdVersie>0.1.0</iwlz:BasisschemaXsdVersie>
			<iwlz:BasisschemaXsdMinVersie>0.1.0</iwlz:BasisschemaXsdMinVersie>
			<iwlz:BasisschemaXsdMaxVersie>0.1.0</iwlz:BasisschemaXsdMaxVersie>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="Bericht" type="zk39:Root"></xs:element>
	<xs:complexType name="Root">
		<xs:annotation>
			<xs:documentation>Bericht voor de bovenregionale melding van een mutatie in de zorglevering (zorgkantoor bovenregionaal naar zorgkantoor regionaal).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="zk39:Header"></xs:element>
			<xs:element name="Clienten" type="zk39:Clienten"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Header">
		<xs:annotation>
			<xs:documentation>De header bevat de identificerende gegevens van het bestand.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BerichtCode">
				<xs:annotation>
					<xs:documentation>Code ter identificatie van een soort bericht.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_BerichtCode">
						<xs:pattern value="395"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BerichtVersie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een major release van een iStandaard.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_BerichtVersie">
						<xs:pattern value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BerichtSubversie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een minor release van een iStandaard.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_BerichtSubversie">
						<xs:pattern value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Afzender" type="iwlz:LDT_ZorgkantoorCode">
				<xs:annotation>
					<xs:documentation>Identificatie van het Zorgkantoor, verantwoordelijk voor het uitvoeren van de Wlz. Code van het verzendende zorgkantoor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ontvanger" type="iwlz:LDT_ZorgkantoorCode">
				<xs:annotation>
					<xs:documentation>Identificatie van het Zorgkantoor, verantwoordelijk voor het uitvoeren van de Wlz. Code van het geadresseerde zorgkantoor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BerichtIdentificatie" type="iwlz:CDT_BerichtIdentificatie">
				<xs:annotation>
					<xs:documentation>Aanduiding ter identificatie van het bericht, bevat de datum dagtekening en een nummer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XsdVersie" type="iwlz:CDT_XsdVersie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een versie van de XSD's die zijn ingezet voor het opstellen van het heenbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Clienten">
		<xs:sequence>
			<xs:element name="Client" type="zk39:Client"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Client">
		<xs:annotation>
			<xs:documentation>Persoonsgegevens van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Bsn" type="iwlz:LDT_BurgerServicenummer">
				<xs:annotation>
					<xs:documentation>Een door de overheid toegekend identificerend nummer in het kader van het vereenvoudigen van het contact tussen overheid en burgers en het verminderen van de administratieve lasten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboortedatum" type="iwlz:CDT_Geboortedatum">
			</xs:element>
			<xs:element name="Geslacht" type="iwlz:LDT_Geslacht">
				<xs:annotation>
					<xs:documentation>De sekse van een persoon, zoals bij geboorte formeel vastgesteld of nadien formeel gewijzigd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="iwlz:CDT_VerkorteNaam">
			</xs:element>
			<xs:element name="MutatieFuncties" type="zk39:MutatieFuncties" minOccurs="0"></xs:element>
			<xs:element name="MutatieZorgzwaartepakketten" type="zk39:MutatieZorgzwaartepakketten" minOccurs="0"></xs:element>
			<xs:element name="Aanvragen" type="zk39:Aanvragen" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MutatieFuncties">
		<xs:sequence>
			<xs:element name="MutatieFunctie" type="zk39:MutatieFunctie"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MutatieFunctie">
		<xs:annotation>
			<xs:documentation>Gegevens over de levering van zorg.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Besluitnummer" type="iwlz:LDT_Nummer">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatiebesluit bij een indicatie-aanvraag van een client bij een indicatieorgaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctieCode" type="iwlz:LDT_FunctieCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een (reeks van) activiteit(en) in functionele termen die losgekoppeld is van een bepaalde leverancier, waarbij wordt beschreven wat de inhoud en aard van die activiteit is in termen van hulpverlening (wonen, zorg en welzijn).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToewijzingIngangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen zorgeenheid voor de eerste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Begindatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum vanaf wanneer een zorgeenheid wordt geleverd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Instelling" type="iwlz:LDT_iWlzAgbCode">
				<xs:annotation>
					<xs:documentation>Identificerende code van een instelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mutatiecode" type="iwlz:LDT_MutatieCode">
				<xs:annotation>
					<xs:documentation>De reden van een mutatie/beeindiging van de Wlz-zorg bij client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mutatiedatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop een mutatie in de Wlz-zorg bij client heeft plaatsgevonden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstellingBestemming" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerende code van de instelling waar de client zorg zal gaan ontvangen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusAanlevering" type="iwlz:LDT_StatusAanlevering">
				<xs:annotation>
					<xs:documentation>Indicatie over de status van de informatie in de berichtklasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MutatieZorgzwaartepakketten">
		<xs:sequence>
			<xs:element name="MutatieZorgzwaartepakket" type="zk39:MutatieZorgzwaartepakket"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MutatieZorgzwaartepakket">
		<xs:annotation>
			<xs:documentation>Gegevens over de levering van zorg.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Besluitnummer" type="iwlz:LDT_Nummer">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatiebesluit bij een indicatie-aanvraag van een client bij een indicatieorgaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZzpCode" type="iwlz:LDT_ZzpCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgzwaartepakket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToewijzingIngangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen zorgeenheid voor de eerste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Begindatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum vanaf wanneer een zorgeenheid wordt geleverd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Instelling" type="iwlz:LDT_iWlzAgbCode">
				<xs:annotation>
					<xs:documentation>Identificerende code van een instelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mutatiecode" type="iwlz:LDT_MutatieCode">
				<xs:annotation>
					<xs:documentation>De reden van een mutatie/beeindiging van de Wlz-zorg bij client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mutatiedatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop een mutatie in de Wlz-zorg bij client heeft plaatsgevonden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsstatus" type="iwlz:LDT_Leveringsstatus">
				<xs:annotation>
					<xs:documentation>De leveringsstatus waarmee wordt aangegeven wat de status van de geleverde zorg is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeveringsstatusClassificatie" type="iwlz:LDT_LeveringsstatusClassificatie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nadere classificatie van de leveringsstatus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsvorm" type="iwlz:LDT_Leveringsvorm">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de vorm waarin zorg binnen de Wlz geleverd kan worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstellingBestemming" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerende code van de instelling waar de client zorg zal gaan ontvangen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusAanlevering" type="iwlz:LDT_StatusAanlevering">
				<xs:annotation>
					<xs:documentation>Indicatie over de status van de informatie in de berichtklasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Aanvragen">
		<xs:sequence>
			<xs:element name="Aanvraag" type="zk39:Aanvraag"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Aanvraag">
		<xs:annotation>
			<xs:documentation>Gegevens over een aanvraag van een aangepaste zorgtoewijzing.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Besluitnummer" type="iwlz:LDT_Nummer">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van een indicatiebesluit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Afgiftedatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop het indicatiebesluit is afgegeven.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Instelling" type="iwlz:LDT_iWlzAgbCode">
				<xs:annotation>
					<xs:documentation>Identificerende code van een contract in het kader van de Wlz tussen een zorgkantoor en een zorginstelling</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZzpCode" type="iwlz:LDT_ZzpCode">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van een zorgzwaartepakket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Etmalen" type="iwlz:LDT_Etmalen" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van het aantal etmalen verblijf per week. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Klasse" type="iwlz:LDT_Klasse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de mate van zorg betreffende een functie, uitgedrukt in een klasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leveringsvorm" type="iwlz:LDT_Leveringsvorm">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de vorm waarin zorg binnen de Wlz geleverd kan worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dossierhouder" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Voorkeuraanbieder van de client voor het verblijf of de levering van het volledig pakket thuis.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoordinatorZorgThuis" type="iwlz:LDT_iWlzAgbCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanbieder die de zorg thuis coordineert. Deze aanbieder is het aanspreekpunt voor de client en voor de andere aanbieders die bij de zorglevering van het modulair pakket thuis (MPT) aan de client betrokken zijn.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Doelmatig" type="iwlz:LDT_JaNee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding die aangeeft of de aanvraag binnen het toegestane budget past.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BijzondereSituatie" type="iwlz:CDT_BijzondereSituatie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reden van ophoging van het basisbudget voor het geindiceerde zorgprofiel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Verantwoord" type="iwlz:LDT_JaNee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding die aangeeft of de zorg verantwoord geleverd kan worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AanvraagInstellingen" type="zk39:AanvraagInstellingen"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AanvraagInstellingen">
		<xs:sequence>
			<xs:element name="AanvraagInstelling" type="zk39:AanvraagInstelling"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AanvraagInstelling">
		<xs:annotation>
			<xs:documentation>Gegevens over een zorgzwaartepakket waarvoor een zorgtoewijzing wordt aangevraagd.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Instelling" type="iwlz:LDT_iWlzAgbCode">
				<xs:annotation>
					<xs:documentation>Identificerende code van een contract in het kader van de Wlz tussen een zorgkantoor en een zorginstelling</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soort" type="iwlz:LDT_SoortToewijzing">
				<xs:annotation>
					<xs:documentation>Indicatie van de soort toewijzing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToewijzingIngangsdatum" type="iwlz:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De aangevraagde Ingangsdatum van de toe te wijzen zorgeenheid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToewijzingEinddatum" type="iwlz:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De aangevraagde Einddatum van de toe te wijzen zorgeenheid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToewijzingPercentage" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aangevraagde deel van het budget dat geldt voor het betreffende zorgprofiel uitgedrukt in een percentage</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="iwlz:LDT_Percentage">
						<xs:pattern value="[1-9][0-9]*00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Opname" type="iwlz:LDT_JaNee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicatie of de client bij deze aanbieder opgenomen wordt.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
